[2022-07-09 20:32] aritra-tech opened #2 "add solution of "Stack using Linked List""
Make a package under the stack folder named "Stack_using_LL" and make the changes over there.

comment under this issue to get assigned.

[2022-07-12 21:28] aritra-tech opened #3 "Add Leetcode Solutions of Linked List Problems."
Under the Linked List Folder create a folder named "LeetCode_Problems" and for each question, there will be different folders with questions in the  README file.

Add important questions that are asked by FAANG and other startup companies.

comment under this issue to get assigned.

[2022-07-14 16:44] aritra-tech commented on #2
Of course, I will assign you this issue after 12:00 AM @PriyanshuGarg26

[2022-07-14 16:48] PriyanshuGarg26 commented on #2
ok , Sure

[2022-07-14 16:48] aritra-tech opened #5 "Add C++ implementation of doubly linked list"
Add C++ implementation of doubly linked list [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Data_Structure/Linked_List/Doubly_Linked_List).

[2022-07-14 16:51] aritra-tech opened #6 "Add C++ implementation of Singly and Circular Linked List"
1) Add C++ implementation of Singly Linked List [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Data_Structure/Linked_List/Singly_Linked_List).

and

2) Add C++ implementation of  Circular Linked List [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Data_Structure/Linked_List/Circular_Linked_List).

[2022-07-14 16:53] aritra-tech opened #7 "Implement Cyclic Sorting in Java"
Add the Cyclic Sorting code [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Algorithm/Sorting).

[2022-07-14 17:47] aritra-tech commented on #6
Of course, I will assign you this issue after 12:00 AM @Rakesh9100

[2022-07-14 17:55] aritra-tech opened #8 "Fibonacci Number in Java"
Write the code for the Fibonacci Number in Java.

**Follow the steps:**

go to src -> Algorithm -> create a folder named "Recursion" -> then create another folder for the problem (e.g Fibonacci_Number) -> there add the java solution and create a README file there add the link of the question.

**Make sure to make a folder for every question you solve and the folder should consist of the  java file

[2022-07-14 18:02] aritra-tech opened #9 "Swap Nodes in Pairs using Java"
Write the code for the Swap Nodes in Pairs in Java.

Follow the steps:

go to src -> Algorithm -> create a folder named "Recursion" -> then create another folder for the problem (e.g Swap_Nodes_in_Pairs ) -> there add the java solution and create a README file there add the link of the question.

Make sure to make a folder for every question you solve and the folder should consist of the java file

[2022-07-14 18:03] binayshaw7777 commented on #3
I would like to work on this issue! @aritra-tech

[2022-07-14 18:10] binayshaw7777 commented on #9
I would like to work on this issue! @aritra-tech

[2022-07-14 18:23] JOYPAUL2001 commented on #7
I want to work in this issue

[2022-07-14 18:24] JOYPAUL2001 commented on #5
I want to work in this issue

[2022-07-14 18:32] Avik-creator opened #10 "Tree"
Inorder Traversal of a Tree

[2022-07-14 18:32] Avik-creator commented on #10
Assign this please @aritra-tech

[2022-07-14 18:33] aritra-tech commented on #10
Go for it.

[2022-07-14 18:38] Soumya-Kushwaha opened #11 "Tree"
PreOrder Traversal of tree in C++

[2022-07-14 18:38] Soumya-Kushwaha commented on #11
I want to work on this

[2022-07-14 18:39] aritra-tech commented on #11
Got for it.

[2022-07-14 18:44] Soumya-Kushwaha opened #12 "CONTRIBUTING.md"
The FORK link has incorrect repo name resulting into errors. Please get that corrected or assign it to me.

[2022-07-14 18:51] aritra-tech commented on #12
It's working fine, could you please specify.

[2022-07-14 19:22] Akanksha-Sen opened #13 "Reversal of Linked List"

[2022-07-14 19:22] Akanksha-Sen commented on #13
Please assign me this.

[2022-07-15 05:04] aritra-tech opened #16 "PriorityQueue using Java"
add your code [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Data_Structure/Queue/Basic_operation/Queue_using_Array)

comment under this issue to get assigned.

[2022-07-15 05:06] #13 closed

[2022-07-15 05:24] aritra-tech opened #17 "AVL Tree in Java"
In the **Tree** folder create another package named **AVLTree** and in that folder create a java file and add the code.

Make sure to create a folder as I said above.

Comment on the issue to get assigned.

[2022-07-15 07:49] Soumya-Kushwaha commented on #12
The links have the repo name as DATA-STRUCTURES-AND-ALGORITHMS while in actual, it is DATA-STRUCTURE-ALGORITHM

It's a little mistake, but made errors while i tried to fork & clone the repo yesterday

[2022-07-15 08:10] aritra-tech commented on #12
Yah yah, I just relaized.
Got for it

[2022-07-15 08:35] #11 closed

[2022-07-15 09:48] #12 closed

[2022-07-15 11:19] Avik-creator commented on #17
@aritra-tech

[2022-07-15 11:20] Avik-creator commented on #16
Let me have it

[2022-07-15 11:46] aritra-tech commented on #17
Yah basic code of AVL tree

[2022-07-15 12:00] aritra-tech opened #20 "Implement C++ code for Queue using Array"
Add the code [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Data_Structure/Queue/Basic_operation/Queue_using_Array)

comment to get assigned.

[2022-07-15 12:02] aritra-tech opened #21 "Implement C++ code for Stack using Array"
add your code [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Data_Structure/Stack/Basic_Operations/Stack_using_Array)

[2022-07-15 12:09] akashrchandran commented on #20
I would like to work on this issue.

[2022-07-15 12:10] aritra-tech commented on #20
Go for it @akashrchandran

[2022-07-15 12:52] afreenabegum commented on #17
Please do assign it to me!

[2022-07-15 14:12] aritra-tech commented on #21
Ok @vickyrules

[2022-07-15 14:12] aritra-tech commented on #17
Ok go for it

[2022-07-15 14:14] #8 closed

[2022-07-15 14:25] tanya-gupta25 opened #23 "Add leetcode solutions of Searching problems"
Will add solutions of binary search problems from leetcode

[2022-07-15 14:25] tanya-gupta25 commented on #23
I want to work on this issue under HSSOC

[2022-07-15 14:31] Robinrai2612 commented on #23
@aritra-tech I want to work on this issue .Please assigned it.

Type: Documentation
Language : Python

[2022-07-15 14:40] aritra-tech commented on #23
Sorry @Robinrai2612 the issue was created by her so she will get the issue. You can make your own issue as I said to you.
Thank you

[2022-07-15 15:39] ashmeet-chhabra opened #24 "Add a sorting technique - Dutch National Flag Algorithm (C++)"
I will add the Dutch National Flag Algorithm, also called the 3-way Quick Sort, and will be using C++ to implement it.

[2022-07-15 15:39] ashmeet-chhabra commented on #24
I want to work on this issue under HSSOC

[2022-07-15 15:53] aritra-tech commented on #24
Yeah sure, but please make a folder named "Dutch National Flag Algo" then under that folder create your file.

[2022-07-15 15:57] ashmeet-chhabra commented on #24
Thanks. The folder should be inside the Sorting folder or in Algorithms?

[2022-07-15 16:02] aritra-tech commented on #24
[Here only make a folder name and add the file](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Algorithm/Sorting)

[2022-07-15 16:07] #21 closed

[2022-07-15 16:09] #10 closed

[2022-07-15 16:24] #9 closed

[2022-07-15 16:51] vickyrules opened #31 "Add "Randomized Heap" Tree DS in CPP"

[2022-07-15 16:52] vickyrules commented on #31
@aritra-tech please assign this to me.

[2022-07-15 16:53] vickyrules opened #32 "Add sparse table DS using C"

[2022-07-15 16:54] vickyrules commented on #32
@aritra-tech please assign this to me

[2022-07-15 16:56] binayshaw7777 opened #33 "Detect and return the node where the cycle starts (Java)"
Problem Link : [LinkedList Cycle I](https://leetcode.com/problems/linked-list-cycle/) [LinkedList Cycle II](https://leetcode.com/problems/linked-list-cycle-ii/)

[2022-07-15 16:58] aritra-tech commented on #31
Yah sure

[2022-07-15 16:59] aritra-tech commented on #33
Yah sure

[2022-07-15 17:04] vickyrules opened #34 "Bellman-Ford Algorithm in CPP"
Single source shortest path with negative weight edges

[2022-07-15 17:05] vickyrules commented on #34
@aritra-tech
this one too please.

[2022-07-15 17:58] Soumya-Kushwaha opened #35 "Detect loop(cycle) in linked list (C++)"

[2022-07-15 17:58] Soumya-Kushwaha commented on #35
Please assign me

[2022-07-15 18:05] aritra-tech commented on #35
In the Linked List folder there you can see the Problem folder where you can add the code and also create a README file which consists of the link to the question.

Go for it @Soumya-Kushwaha

[2022-07-15 18:20] #33 closed

[2022-07-15 18:20] #17 closed

[2022-07-15 18:57] #35 closed

[2022-07-15 18:57] #24 closed

[2022-07-15 19:27] afreenabegum commented on #34
@aritra-tech
I would like to work on this, please do assign it to me.

[2022-07-15 20:13] aritra-tech commented on #34
Sorry, but the issue is created by him so he will only be assigned.

[2022-07-15 20:33] binayshaw7777 opened #40 "Trapping Rainwater (Java)"
Problem Link: [Leetcode](https://leetcode.com/problems/trapping-rain-water/)

[2022-07-15 20:43] aritra-tech commented on #40
Ok sure, please add into the Array folder

[2022-07-15 20:46] ashmeet-chhabra opened #41 "Left View of Binary Tree | C++"
i will add the implementation for left/right view of a binary tree.

[2022-07-15 20:54] aritra-tech commented on #41
Make a folder [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Data_Structure/Tree
) named **Left/Right of Binary Tree**

[2022-07-16 04:59] aritra-tech opened #43 "Implement Queue using Linked List in Java"
create a new folder under basic operations of queue and make the changes

[2022-07-16 05:02] aritra-tech opened #44 "Implement Queue using Stack in Java"
create a new folder under **basic operations of queue** and make the changes

[2022-07-16 05:25] Robinrai2612 commented on #43
@aritra-tech I would like to work on this issue.

Language - Java.

[2022-07-16 05:26] binayshaw7777 commented on #44
I want to work

[2022-07-16 05:50] afreenabegum commented on #34
@aritra-tech  okay, that's fine.

[2022-07-16 06:05] aritra-tech commented on #43
Yah sure

[2022-07-16 06:05] aritra-tech commented on #44
Sure

[2022-07-16 06:06] #40 closed

[2022-07-16 07:12] #32 closed

[2022-07-16 07:14] aritra-tech commented on #34
@vickyrules you can work on this issue now
All the best.

[2022-07-16 07:39] Shweta2024 opened #47 "N-Queens"
## Description

The n-queens puzzle is the problem of placing n queens on an n x n chessboard such that no two queens attack each other.

Given an integer n, return all distinct solutions to the n-queens puzzle. You may return the answer in any order.

Each solution contains a distinct board configuration of the n-queens' placement, where 'Q' and '.' both indicate a queen and an empty space, respe

[2022-07-16 07:40] Shweta2024 commented on #47
@aritra-tech  Hello sir, can you please assign me this issue.

[2022-07-16 07:40] Shweta2024 commented on #47
/assign

[2022-07-16 08:53] #34 closed

[2022-07-16 08:59] aritra-tech commented on #47
Yah sure

Go for it

[2022-07-16 10:20] #5 closed

[2022-07-16 12:16] #47 closed

[2022-07-16 12:37] Shweta2024 opened #51 "Subsets"
## Description

Given an integer array nums of unique elements, return all possible subsets (the power set).
The solution set must not contain duplicate subsets. Return the solution in any order.

[2022-07-16 12:37] Shweta2024 commented on #51
@aritra-tech please assign me this issue

[2022-07-16 13:07] aritra-tech commented on #51
sure!!
assigned to @Shweta2024

[2022-07-16 17:59] #16 closed

[2022-07-16 18:32] aritra-tech opened #53 "Implement Bellman-Ford Algorithm in Java"
add your code [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Data_Structure/Graph/Bellman-Ford%20Algorithm)

[2022-07-16 19:58] #41 closed

[2022-07-16 20:03] afreenabegum commented on #53
Please do assign it to me !! @aritra-tech

[2022-07-16 20:27] ashmeet-chhabra opened #56 "Add Inorder and Postorder Traversal of Trees | C++"
I'll create two separate folders for them [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Data_Structure/Tree) :)

[2022-07-17 02:54] #44 closed

[2022-07-17 02:54] aritra-tech commented on #53
sure

[2022-07-17 02:56] aritra-tech commented on #56
It's created only @ashmeet-chhabra

[2022-07-17 02:59] ashmeet-chhabra commented on #56
where? I saw preorder but not inorder and postorder

[2022-07-17 03:04] aritra-tech commented on #56
Sure go for it

[2022-07-17 04:18] surjyaneeh opened #58 "Convert Sorted Array to Binary Search Tree"
problem link: https://leetcode.com/problems/convert-sorted-array-to-binary-search-tree/

[2022-07-17 04:20] surjyaneeh commented on #58
@aritra-tech may I work on this issue?

[2022-07-17 04:23] aritra-tech commented on #58
Ok sure

Make a folder under the tree folder named "Leetcode Problems" and then create another folder named as the problem statement (i.e Sorted_array_to_bst) and then add the java/c++ file over there.
And create a README and add the question link over there.

[2022-07-17 04:35] surjyaneeh commented on #58
Okay, I will do the same.

[2022-07-17 04:38] surjyaneeh commented on #58
Is Python also allowed?

[2022-07-17 04:49] aritra-tech commented on #58
No Python
Just Java/C++/C

[2022-07-17 05:52] binayshaw7777 opened #59 "Left and Right View of a Binary Tree (Java)"
Problem Link: [Leetcode](https://leetcode.com/problems/binary-tree-right-side-view/) [GFG](https://www.geeksforgeeks.org/print-left-view-binary-tree/)

[2022-07-17 06:19] aritra-tech commented on #59
sure @binayshaw7777

[2022-07-17 06:40] #3 closed

[2022-07-17 08:35] #53 closed

[2022-07-17 11:25] #2 closed

[2022-07-17 11:26] #7 closed

[2022-07-17 16:41] #56 closed

[2022-07-17 16:42] #58 closed

[2022-07-17 17:44] aritra-tech opened #67 "Add question of Binary Search in Java."
Questions are:
1. [Find Peak Element](https://leetcode.com/problems/find-peak-element/)
2. [Find Minimum in Rotated Sorted Array]( https://leetcode.com/problems/find-minimum-in-rotated-sorted-array/)
3. [Kth Smallest Element in a Sorted Matrix](https://leetcode.com/problems/kth-smallest-element-in-a-sorted-matrix/)
4. [Find the Duplicate Number](https://leetcode.com/problems/find-the-duplicate-num

[2022-07-17 17:45] JOYPAUL2001 commented on #67
I want to work on this issue

[2022-07-17 17:45] aritra-tech commented on #67
Ok sure

[2022-07-17 17:50] aritra-tech opened #68 "Lowest common ancestor of Binary Search Tree and Binary Tree"
Question links are:

1. [Lowest Common Ancestor of a Binary Tree](https://leetcode.com/problems/lowest-common-ancestor-of-a-binary-tree/)
2. [Lowest Common Ancestor of a Binary Search Tree](https://leetcode.com/problems/lowest-common-ancestor-of-a-binary-search-tree/)

[2022-07-17 17:50] binayshaw7777 commented on #68
,

[2022-07-17 17:50] aritra-tech commented on #68
Ok sure

[2022-07-17 18:01] aritra-tech opened #69 "Add HashMap implementation in Java and C++"
Add **HashMap** folder in the Data Structure and add the Hashmap implementation in Java and C++

[2022-07-17 18:17] aritra-tech opened #70 "Add BFS Traversal & DFS Traversal of graph in Java and C++"
Under the **Graph** folder make two diff folders for BFS Traversal and DFS Traversal and then add the files.

[2022-07-17 18:18] vickyrules commented on #70
@aritra-tech assign this to me please

[2022-07-17 18:21] afreenabegum commented on #69
I would like to work on this issue.assign it to me @aritra-tech

[2022-07-17 18:29] aritra-tech commented on #70
Yah sure

[2022-07-17 18:30] aritra-tech commented on #69
Sure

[2022-07-17 18:31] aritra-tech opened #71 "Add Cycle Detection of graph through BFS in Java and C++"
Make a new folder under the **Graph** folder and add the files there

[2022-07-17 18:32] Rakesh9100 opened #72 "Add Array Insertion in C++"

[2022-07-17 18:32] Rakesh9100 opened #73 "Adding Deletion of Array elements in C++"

[2022-07-17 18:35] Avik-creator commented on #72
Let me have it

[2022-07-17 18:35] Avik-creator commented on #71
Let me have it

[2022-07-17 18:36] Avik-creator commented on #73
Let me have it

[2022-07-17 18:36] Avik-creator commented on #72
@aritra-tech

[2022-07-17 18:36] Avik-creator commented on #72
@aritra-tech

[2022-07-17 18:38] aritra-tech opened #74 "Add questions of Recursions in C++"
Questions are:
1. [Add Two Numbers](https://leetcode.com/problems/add-two-numbers/)
2. [Count Good Numbers](https://leetcode.com/problems/count-good-numbers/)
3. [Merge Two Sorted Lists](https://leetcode.com/problems/merge-two-sorted-lists/)
4. [Decode String](https://leetcode.com/problems/decode-string/)

[2022-07-17 18:39] aritra-tech commented on #72
@Avik-creator this issue was created by @Rakesh9100 so this issue will be assigned to @Rakesh9100.
@Avik-creator you can create your new issue or pick any of the issues that is created by me.

[2022-07-17 18:40] aritra-tech commented on #73
Assigned to @Rakesh9100

[2022-07-17 18:41] Rakesh9100 commented on #72
Bro I am not the owner that I have opened a new issue, I am a contributor and I opened the issue by myself.

[2022-07-17 18:42] Rakesh9100 commented on #74
Bro Assign me but kindly let me know exactly what kind of question means what work to do in this issue ?

[2022-07-17 18:44] ashmeet-chhabra opened #75 "Add Recursion questions in C++"
1. [Subset Sums](https://practice.geeksforgeeks.org/problems/subset-sums2234/1)
1. [Subsets II](https://leetcode.com/problems/subsets-ii/)
1. [Combination Sum](https://leetcode.com/problems/combination-sum/)
1. [Palindrome Partitioning](https://leetcode.com/problems/palindrome-partitioning/)

[2022-07-17 18:45] aritra-tech commented on #74
You have already been assigned with 2 issues, so now I can't assign you more issues. I hope you understand.

[2022-07-17 18:46] Rakesh9100 commented on #74
Okay that I will close in 30-45 mins but kindly explain this issue.

[2022-07-17 18:47] aritra-tech commented on #75
Subset sums link is wrong. Can you please check it @ashmeet-chhabra

[2022-07-17 18:48] aritra-tech commented on #74
Ok I will

[2022-07-17 18:53] ashmeet-chhabra commented on #75
sorry, i don't understand. Should it be a leetcode link only, or is it a different question?
i could refer to [this](https://leetcode.com/problems/subsets/) instead if you like

[2022-07-17 18:55] aritra-tech commented on #75
Yeah you can continue with this problem.

[2022-07-17 19:07] Rakesh9100 commented on #74
Kindly tell like I have to add solutions of these 4 questions ?

[2022-07-17 19:27] Rakesh9100 commented on #71
Kindly assign me

[2022-07-17 20:16] #73 closed

[2022-07-17 20:17] #72 closed

[2022-07-17 20:18] aritra-tech commented on #71
Yah sure

[2022-07-18 02:15] Avik-creator commented on #73
@Rakesh9100 @aritra-tech sorry

[2022-07-18 02:16] Avik-creator commented on #72
@Rakesh9100 @aritra-tech sorry

[2022-07-18 02:46] surjyaneeh opened #79 "Invert Binary Tree"
Problem Link: https://leetcode.com/problems/invert-binary-tree/

[2022-07-18 04:50] #20 closed

[2022-07-18 04:53] aritra-tech commented on #79
Sure, add this problem under the Leetcode Problem folder which is inside the tree folder.

[2022-07-18 07:35] #79 closed

[2022-07-18 08:00] surjyaneeh opened #84 "Merge Two Binary Trees"
[Problem link](https://leetcode.com/problems/merge-two-binary-trees/)

[2022-07-18 09:15] Rakesh9100 opened #86 "Add questions of Recursions in Java"
Questions are:

 1. [Add Two Numbers](https://leetcode.com/problems/add-two-numbers/)
 2. [Count Good Numbers](https://leetcode.com/problems/count-good-numbers/)
 3. [Merge Two Sorted Lists](https://leetcode.com/problems/merge-two-sorted-lists/)
 4. [Decode String](https://leetcode.com/problems/decode-string/)

[2022-07-18 09:18] Rakesh9100 opened #87 "Add Cycle Detection of Undirected graph through BFS in Java and C++"

[2022-07-18 09:27] #74 closed

[2022-07-18 11:58] surjyaneeh opened #89 "Maximum Depth of Binary Tree"
[Problem link](https://leetcode.com/problems/maximum-depth-of-binary-tree/)

[2022-07-18 12:07] aritra-tech commented on #89
Sure

[2022-07-18 13:45] #89 closed

[2022-07-18 14:13] #70 closed

[2022-07-18 17:14] #69 closed

[2022-07-18 19:12] aritra-tech opened #94 "Implementation of ArrayList in Java"
Basic Implementation of ArrayList in Java.

[2022-07-18 19:13] GeekLord04 commented on #94
I want to contribute to this issue

[2022-07-18 19:13] aritra-tech commented on #94
Ok, sure

[2022-07-18 21:53] vedsom opened #95 "Minimum cost spanning tree using Prims's algorithm and Kruskal’s algorithm using c++"
want to add Minimum cost spanning tree using Prims's algorithm and Kruskal’s algorithm using c++. I am HSOC participant please assign me this issue.

[2022-07-18 23:10] vedsom commented on #95
can i go with minimum cost spanning tree, shortest path algorithm???

[2022-07-19 03:01] surjyaneeh opened #97 "Percentage of Letter in String"
[Problem Link](https://leetcode.com/problems/percentage-of-letter-in-string/)

[2022-07-19 04:43] aritra-tech commented on #95
Yah, sure

[2022-07-19 04:45] aritra-tech commented on #97
Sure

[2022-07-19 04:47] #75 closed

[2022-07-19 05:20] surjyaneeh opened #99 "Remove Palindromic Subsequences"
[Problem Link](https://leetcode.com/problems/remove-palindromic-subsequences/)

[2022-07-19 05:43] #97 closed

[2022-07-19 07:02] surjyaneeh opened #101 "Longest Common Prefix"
[Problem](https://leetcode.com/problems/longest-common-prefix/)

[2022-07-19 07:17] surjyaneeh opened #102 "Remove Outermost Parentheses (using stack)"
[Problem Link](https://leetcode.com/problems/remove-outermost-parentheses/)

[2022-07-19 07:23] #99 closed

[2022-07-19 10:07] Bhavesh-Rawat commented on #102
May, I work on this ?

[2022-07-19 11:32] aritra-tech opened #104 "Implement Bucket Sort and Radix Sort in Java and C++"
Under the **sorting** package make a package for both the **Bucket and Radix Sort** and add the java and C++ file to it.

[2022-07-19 11:36] aritra-tech opened #105 "Add Bubble Sort implementation in C and C++"
add your code [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Algorithm/Sorting/BubbleSort)

[2022-07-19 11:37] aritra-tech opened #106 "Add Cyclic Sort implementation in C++ and C"
add your code [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Algorithm/Sorting/CyclicSort)

[2022-07-19 11:38] aritra-tech opened #107 "Add Heap Sort implementation in C++ and C"
add your code [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Algorithm/Sorting/HeapSort)

[2022-07-19 11:48] aritra-tech opened #108 "Add Insertion Sort implementation in C++ and C"
add your code [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Algorithm/Sorting/InsertionSort)

[2022-07-19 11:49] aritra-tech opened #109 "Add Merge Sort implementation in C++ and C"
add your code [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Algorithm/Sorting/MergeSort)

[2022-07-19 11:52] aritra-tech opened #110 "Add Quick Sort implementation in C++ and C"
add your code [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Algorithm/Sorting/QuickSort)

[2022-07-19 11:53] aritra-tech opened #111 "Add Selection Sort implementation in C++ and C"
add your code [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Algorithm/Sorting/SelectionSort)

[2022-07-19 11:56] vickyrules commented on #111
@aritra-tech assign this to me

[2022-07-19 11:57] aritra-tech commented on #111
Sure

[2022-07-19 11:57] vickyrules commented on #105
@aritra-tech assign this to me

[2022-07-19 11:58] vickyrules commented on #104
@assign this to me as i already completed it ready to create pr

[2022-07-19 12:03] surjyaneeh commented on #108
May I work on this?

[2022-07-19 12:11] GeekLord04 commented on #110
I want to contribute to this issue

[2022-07-19 12:16] akashrchandran commented on #106
Can I work on this one?

[2022-07-19 13:53] aritra-tech commented on #108
Sure

[2022-07-19 13:53] aritra-tech commented on #107
Sure

[2022-07-19 13:53] aritra-tech commented on #106
Sure

[2022-07-19 13:53] aritra-tech commented on #105
Sure

[2022-07-19 13:54] aritra-tech commented on #104
Sure

[2022-07-19 13:57] #102 closed

[2022-07-19 16:29] #106 closed

[2022-07-19 17:54] #59 closed

[2022-07-19 18:43] #68 closed

[2022-07-20 03:34] surjyaneeh opened #119 "Insert into a Binary Search Tree"
[Problem Link](https://leetcode.com/problems/insert-into-a-binary-search-tree/)

[2022-07-20 09:33] Soumya-Kushwaha opened #120 "Remove duplicates from sorted list"

[2022-07-20 09:36] Soumya-Kushwaha opened #121 "Remove duplicates from sorted array"

[2022-07-20 14:41] aritra-tech commented on #43
Sure

[2022-07-20 14:43] #105 closed

[2022-07-20 14:44] #108 closed

[2022-07-20 15:34] #43 closed

[2022-07-20 15:40] #104 closed

[2022-07-20 15:52] surjyaneeh opened #127 "Peak Index in a Mountain Array"
[Problem Link](https://leetcode.com/problems/peak-index-in-a-mountain-array/)

[2022-07-20 16:13] #119 closed

[2022-07-20 16:28] #94 closed

[2022-07-20 16:29] #23 closed

[2022-07-20 16:29] aritra-tech commented on #127
But it's a very easy problem.

[2022-07-20 16:32] akashrchandran opened #131 "Implement Queue using Linked List in C++ and C"
To add implementation of Queue using Linked List in C and C++, in the folder [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Data_Structure/Queue/Basic_operation/Queue_using_LinkedList)

[2022-07-20 17:25] aritra-tech commented on #131
Yah sure

[2022-07-20 17:26] #120 closed

[2022-07-20 18:02] #121 closed

[2022-07-20 18:55] ashmeet-chhabra opened #134 "Add problems on Linked Lists C++"
1. [Middle of the Linked List](https://leetcode.com/problems/middle-of-the-linked-list/)
1. [Remove Nth Node From End of List](https://leetcode.com/problems/remove-nth-node-from-end-of-list/)
1. [Add Two Numbers](https://leetcode.com/problems/add-two-numbers/)
1. [Reverse Nodes in k-Group](https://leetcode.com/problems/reverse-nodes-in-k-group/)

[2022-07-20 20:34] binayshaw7777 opened #136 "Add Matrix Questions (2 Medium) Java"
[Problem 1](https://leetcode.com/problems/spiral-matrix/)
[Problem 2](https://leetcode.com/problems/set-matrix-zeroes/)

[2022-07-20 21:03] #110 closed

[2022-07-20 21:04] aritra-tech commented on #136
Sure

[2022-07-20 21:04] aritra-tech commented on #134
Sure

[2022-07-20 21:41] aritra-tech opened #137 "Add Array Question"
1. [3Sum](https://leetcode.com/problems/3sum/)
2. [4Sum](https://leetcode.com/problems/4sum/)
3. [Set Matrix Zero](https://leetcode.com/problems/set-matrix-zeroes/)
4. [Rotate Image](https://leetcode.com/problems/rotate-image/)
5. [Product of Array Except Self](https://leetcode.com/problems/product-of-array-except-self/)

[2022-07-20 21:42] GeekLord04 commented on #137
Can I contribute to this issue?

[2022-07-20 21:42] aritra-tech commented on #137
Yah, sure

[2022-07-21 02:38] surjyaneeh opened #139 "Kth Largest Element in an Array"
[Link](https://leetcode.com/problems/kth-largest-element-in-an-array/)

[2022-07-21 05:55] #127 closed

[2022-07-21 06:00] tanya-gupta25 opened #140 "Add Top and Bottom View of Binary Tree questions"
I'll add 2 ques from leetcode  in c++

1. Top View of Binary tree
2. Bottom View of Binary tree

[2022-07-21 06:16] aritra-tech commented on #140
Yah sure

[2022-07-21 07:27] #139 closed

[2022-07-21 11:36] surjyaneeh opened #143 "Deepest Leaves Sum"
Solve [this](https://leetcode.com/problems/deepest-leaves-sum/) using
1. BFS
2. DFS

[2022-07-21 11:48] surjyaneeh opened #144 "Check Whether a Binary Tree is Symmetric"
[Problem Link](https://leetcode.com/problems/symmetric-tree/)

[2022-07-21 12:02] #87 closed

[2022-07-21 13:33] #109 closed

[2022-07-21 13:34] #144 closed

[2022-07-21 13:39] aritra-tech commented on #137
For this issue these problems are ok.

[2022-07-21 13:39] aritra-tech commented on #137
@CS50X-RGB if you want to contribute you can open your own issues.

[2022-07-21 13:42] CS50X-RGB opened #147 "More Problems on Array"
1)[Median of 2 sorted Array](https://leetcode.com/problems/median-of-two-sorted-arrays/)
2)[Flipping of Image](https://leetcode.com/problems/flipping-an-image/)

[2022-07-21 13:44] aritra-tech commented on #147
Both the links are opening the same problem.
Please check once @CS50X-RGB

[2022-07-21 13:45] aritra-tech commented on #147
[Flipping of Image](https://leetcode.com/problems/flipping-an-image/)

[2022-07-21 13:46] aritra-tech commented on #147
What now?

[2022-07-21 13:46] aritra-tech commented on #147
This is the question link

[2022-07-21 13:46] aritra-tech commented on #147
It's ok

[2022-07-21 14:05] PriyanshuGarg26 opened #148 "Add more Array Questions"
1. [Group Anagrams](https://leetcode.com/problems/group-anagrams/)
2. [Longest Consecutive Sequence](https://leetcode.com/problems/longest-consecutive-sequence/)
3. [Pow(x, n)](https://leetcode.com/problems/powx-n/)
4. [Merge Intervals](https://leetcode.com/problems/merge-intervals/)
5. [Best Time to Buy & Sell Stock](https://leetcode.com/problems/best-time-to-buy-and-sell-stock/)

[2022-07-21 14:05] PriyanshuGarg26 commented on #148
Please Assign this issue to me

[2022-07-21 15:23] aritra-tech commented on #148
Yah sure

[2022-07-21 15:25] #67 closed

[2022-07-21 15:26] #95 closed

[2022-07-21 16:08] #86 closed

[2022-07-21 16:57] surjyaneeh opened #153 "Add Queue Questions"
1. [first-unique-character-in-a-string](https://leetcode.com/problems/first-unique-character-in-a-string)
2. [number-of-recent-calls](https://leetcode.com/problems/number-of-recent-calls/)
3. [reveal-cards-in-increasing-order](https://leetcode.com/problems/reveal-cards-in-increasing-order/)
4. [find-the-winner-of-the-circular-game](https://leetcode.com/problems/find-the-winner-of-the-circular-game

[2022-07-21 17:38] #143 closed

[2022-07-21 18:08] #131 closed

[2022-07-21 18:15] Avik-creator opened #155 "Want to add 5 ArrayList Questions"
I will be adding 5 array list questions using Java.

[2022-07-21 18:17] Avik-creator commented on #155
@aritra-tech please assign me these

[2022-07-21 18:18] aritra-tech commented on #155
Send me the question links?

[2022-07-21 18:21] Avik-creator commented on #155
https://www.geeksforgeeks.org/tag/java-arraylist/ @aritra-tech

[2022-07-21 18:55] aritra-tech commented on #155
How mane questions you will do?

[2022-07-21 18:57] aritra-tech opened #156 "Add Binary Search implementation in C++ and C"
add your code [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Algorithm/Searching/BinarySearch)

[2022-07-21 18:57] binayshaw7777 commented on #156
I would contribute to it

[2022-07-21 18:57] JOYPAUL2001 commented on #156
I want to contribute

[2022-07-21 18:58] aritra-tech commented on #156
Yeah, sure

[2022-07-21 18:58] JOYPAUL2001 commented on #156
Thanks @aritra-tech

[2022-07-21 18:59] aritra-tech opened #157 "Add Linear Search implementation in C++ and C"
add your code [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Algorithm/Searching/LinearSearch)

[2022-07-21 18:59] binayshaw7777 commented on #157
I would contribute to it

[2022-07-21 18:59] JOYPAUL2001 commented on #157
I want to contribute

[2022-07-21 18:59] aritra-tech commented on #157
Tough competition.

[2022-07-21 19:00] aritra-tech commented on #157
Yeah, sure

[2022-07-21 19:00] Avik-creator commented on #155
5 questions which are most specific

[2022-07-22 03:47] Rakesh9100 opened #158 "Add solutions of existing C++ solution in Java and Java in C++"
1. Array Element Deletion in Java
2. Array Element Insertion in Java
3. Reverse an Array in C++

[2022-07-22 04:00] Rakesh9100 opened #159 "Add Leetcode Existing Solutions of Java in C++ and C++ in Java"
1. [Jump Game II in  C++](https://leetcode.com/problems/jump-game-ii/)
2. Add README File
3. [Find Kth Largest in Java](https://leetcode.com/problems/kth-largest-element-in-an-array/)
4. [Peak Index in a Mountain Array in Java](https://leetcode.com/problems/peak-index-in-a-mountain-array/)
5. [Trapping Rain Water in C++](https://leetcode.com/problems/trapping-rain-water/)

[2022-07-22 04:28] aritra-tech commented on #159
Sure.

[2022-07-22 05:43] Avik-creator commented on #155
@aritra-tech Do I need to give all of the questions in a single file.

[2022-07-22 08:34] surjyaneeh opened #162 "Binary Tree Traversal in java"
[1. Inorder Traversal](https://leetcode.com/problems/binary-tree-inorder-traversal/)
[2. Preorder Traversal](https://leetcode.com/problems/binary-tree-preorder-traversal/)
[3. Postorder Traversal](https://leetcode.com/problems/binary-tree-postorder-traversal/)

[2022-07-22 09:56] #153 closed

[2022-07-22 11:16] surjyaneeh opened #163 "Coin Change Problem in C++"
Add code [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Algorithm/Dynamic_Programing/Coin_Change)

[2022-07-22 11:31] aritra-tech commented on #163
It's already done.

[2022-07-22 11:35] surjyaneeh commented on #163
Is it okay now? I have changed the title.

[2022-07-22 11:49] aritra-tech commented on #163
Yah yah

[2022-07-22 14:47] Avik-creator commented on #155
@aritra-tech ??

[2022-07-22 15:32] aritra-tech commented on #155
Under the ArrayList, package make a package name "Problems" and there make a separate package for each of the problems.

[2022-07-22 15:47] #158 closed

[2022-07-22 16:42] #147 closed

[2022-07-22 16:43] #163 closed

[2022-07-22 17:16] Soumya-Kushwaha opened #168 "Add Stack problems"
https://practice.geeksforgeeks.org/problems/next-larger-element-1587115620/1?page=1&category[]=Stack&sortBy=submissions

https://practice.geeksforgeeks.org/problems/get-minimum-element-from-stack/1?page=1&category[]=Stack&sortBy=submissions

https://practice.geeksforgeeks.org/problems/parenthesis-checker2744/1?page=1&category[]=Stack&sortBy=submissions

[2022-07-22 17:22] surjyaneeh opened #169 "Validate BST in Java and C++"
[Link](https://leetcode.com/problems/validate-binary-search-tree/)

[2022-07-22 17:42] aritra-tech commented on #168
Create a package name **Problems** under the **stack** and then add the solutions. @Soumya-Kushwaha

[2022-07-22 18:39] Akanksha-Sen opened #170 "Add linked list questions"

[2022-07-22 19:59] aritra-tech commented on #170
Can you provide the question links?

[2022-07-23 04:03] surjyaneeh opened #172 "Queue Reconstruction by Height (Greedy Approach)"
[Problem Link](https://leetcode.com/problems/queue-reconstruction-by-height/)

[2022-07-23 04:18] Akanksha-Sen commented on #170
1. https://practice.geeksforgeeks.org/problems/insert-in-a-sorted-list/1
2. https://leetcode.com/problems/linked-list-cycle-ii/submissions/
3. https://practice.geeksforgeeks.org/problems/identical-linked-lists/1

[2022-07-23 05:03] #162 closed

[2022-07-23 05:54] #159 closed

[2022-07-23 06:40] masroor07 opened #174 "Stack Implementation using queues | Queue implementation using Stack"

[2022-07-23 06:42] masroor07 commented on #174
Can i add these questions to the repository?

[2022-07-23 07:10] aritra-tech commented on #174
Yeah,sure

[2022-07-23 07:31] masroor07 commented on #174
Could you review m pr?

[2022-07-23 07:54] Avik-creator commented on #155
ArrayList Shuffle, Java Program to Perform Binary Search on ArrayList, How to Prevent the Addition of Duplicate Elements to the Java ArrayList?,Join two ArrayLists in Java,Convert ArrayList to LinkedHashMap in Java. @aritra-tech Are these good enough?

[2022-07-23 08:15] Soumya-Kushwaha commented on #168
Alright

[2022-07-23 09:00] #169 closed

[2022-07-23 09:01] #168 closed

[2022-07-23 09:02] #174 closed

[2022-07-23 11:03] AnkitaKataria22 commented on #157
I want to contribute

[2022-07-23 11:03] AnkitaKataria22 commented on #156
I want to contribute

[2022-07-23 11:07] AnkitaKataria22 opened #180 "Search in Rotated Sorted Array"

[2022-07-23 11:09] AnkitaKataria22 commented on #180
https://leetcode.com/problems/search-in-rotated-sorted-array/

[2022-07-23 11:10] AnkitaKataria22 commented on #180
Assign it to me

[2022-07-23 11:49] aritra-tech commented on #180
Sure

[2022-07-23 11:50] #170 closed

[2022-07-23 11:51] aritra-tech commented on #157
Whoever first comments on the issue will be assigned first, if he, unfortunately, cannot complete his work within 4 days this issue will be assigned to you @AnkitaKataria22.
Hope you understand the rules.

[2022-07-23 11:52] aritra-tech commented on #156
Whoever first comments on the issue will be assigned first, if he, unfortunately, cannot complete his work within 4 days this issue will be assigned to you @AnkitaKataria22.
Hope you understand the rules.

[2022-07-23 11:52] aritra-tech commented on #155
Yeah yeah, great

[2022-07-23 12:59] AnkitaKataria22 commented on #180
kindly check it I have made a pull request

[2022-07-23 13:45] masroor07 opened #184 "Linear Search in an array (using recursion)"

[2022-07-23 13:54] surjyaneeh opened #185 "Maximum Binary Tree"
[Problem Link](https://leetcode.com/problems/maximum-binary-tree/)

[2022-07-23 14:06] #172 closed

[2022-07-23 14:08] #180 closed

[2022-07-23 14:10] #148 closed

[2022-07-23 14:16] aritra-tech commented on #185
Put it under the Leetcode problem section under the Tree section.

[2022-07-23 14:25] surjyaneeh commented on #185
Sure.

[2022-07-23 15:37] SumitKanth opened #188 "Bit Problems"
# I have 2 questions from leet code under Bit
1.  Number of 1 bits
2. Complement of Base 10 Integer

# language -> c++

# I will contribute under HSOC22

[2022-07-23 15:42] vickyrules opened #189 "Reverse Nodes in k-Group in cpp and java"
given a linked list , reverse nodes in kth group

[2022-07-23 15:43] vickyrules commented on #189
@aritra-tech assign this to me please

[2022-07-23 15:52] aritra-tech commented on #188
Sure

[2022-07-23 15:54] #155 closed

[2022-07-23 15:56] #140 closed

[2022-07-23 16:14] masroor07 commented on #184
please review the pr! thank you

[2022-07-23 16:17] surjyaneeh opened #191 "Distribute Coins in Binary Tree"
[Link](https://leetcode.com/problems/distribute-coins-in-binary-tree/)

[2022-07-23 16:33] #184 closed

[2022-07-23 17:44] Rishikavishnoi opened #193 "Kadane's Algorithm in Java"
Kadane's algorithm for maximum subarray in java

[2022-07-23 20:17] #136 closed

[2022-07-23 20:24] aritra-tech commented on #193
Sure

[2022-07-23 20:25] binayshaw7777 opened #194 "1D DP Problems (Java)"
1. House Robbers
2. Maximum Product Subarray
3. Unique Paths
4. Edit Distance

[2022-07-23 20:28] aritra-tech commented on #194
Sure

[2022-07-23 20:28] aritra-tech opened #195 "Implement Top View and Bottom view of Binary Tree is Java"

[2022-07-23 20:29] binayshaw7777 commented on #195
I

[2022-07-23 20:30] aritra-tech commented on #195
Yeah, sure

[2022-07-24 02:45] SumitKanth commented on #188
What I want to do can you plz tell me

[2022-07-24 03:45] #134 closed

[2022-07-24 04:35] ashmeet-chhabra opened #197 "Add problems on Greedy Algorithm | C++"
1. [Maximum Units on a Truck](https://leetcode.com/problems/maximum-units-on-a-truck/) (modification of Fractional Knapsack)
1. [Maximum Profit in Job Scheduling](https://leetcode.com/problems/maximum-profit-in-job-scheduling/)
1. [Maximum Number of Events That Can Be Attended](https://leetcode.com/problems/maximum-number-of-events-that-can-be-attended/)

[2022-07-24 05:32] Akanksha-Sen opened #198 "Stacks"
add stock-span problem

[2022-07-24 06:15] aritra-tech commented on #197
Sure

[2022-07-24 06:17] #191 closed

[2022-07-24 06:27] #193 closed

[2022-07-24 06:32] Rishikavishnoi opened #201 "Next Permutation problem in Java"

[2022-07-24 06:56] AnkitaKataria22 opened #202 "Container With Most Water in JAVA"
https://leetcode.com/problems/container-with-most-water/
You are given an integer array height of length n. There are n vertical lines drawn such that the two endpoints of the ith line are (i, 0) and (i, height[i]).

Find two lines that together with the x-axis form a container, such that the container contains the most water.

Return the maximum amount of water a container can store.

[2022-07-24 06:56] AnkitaKataria22 commented on #202
Assign it to me

[2022-07-24 07:53] Soumya-Kushwaha opened #203 "Add linked list problems"
1. Find length of a linked list
2. Search an element in linked list
3. Find the middle of a linked list

[2022-07-24 09:45] #185 closed

[2022-07-24 09:46] #198 closed

[2022-07-24 09:47] aritra-tech commented on #201
Add it under the Arrays Problem folder

[2022-07-24 11:17] #203 closed

[2022-07-24 11:25] #189 closed

[2022-07-24 12:00] aritra-tech commented on #188
Create a package under the Data Structure called Bit Manipulation and under the package keep your C++ files.
Hope you understand @SumitKanth

[2022-07-24 13:32] AnkitaKataria22 commented on #157
okay @aritra-tech

[2022-07-24 13:33] AnkitaKataria22 opened #210 "Peak Index in a Mountain Array in java"
https://leetcode.com/problems/peak-index-in-a-mountain-array/
An array arr a mountain if the following properties hold:

arr.length >= 3
There exists some i with 0 < i < arr.length - 1 such that:
arr[0] < arr[1] < ... < arr[i - 1] < arr[i]
arr[i] > arr[i + 1] > ... > arr[arr.length - 1]
Given a mountain array arr, return the index i such that arr[0] < arr[1] < ... < arr[i - 1] < arr[i] > arr[i + 1

[2022-07-24 13:39] AnkitaKataria22 opened #211 "Add Array Questions[use of binary Search]"
1.[Find First and Last Position of Element in Sorted Array](https://leetcode.com/problems/find-first-and-last-position-of-element-in-sorted-array/)
2.[Find Peak Element]https://leetcode.com/problems/find-peak-element/
3. [Find Smallest Letter Greater Than Target]https://leetcode.com/problems/find-peak-element/

[2022-07-24 14:40] #202 closed

[2022-07-24 14:51] SumitKanth commented on #188
Yes, thanks

[2022-07-24 15:13] Rishikavishnoi opened #213 "Add Stack Question"
[The Celebrity Problem](https://practice.geeksforgeeks.org/problems/the-celebrity-problem/1)
[Parenthesis Checker](https://practice.geeksforgeeks.org/problems/parenthesis-checker2744/1)

[2022-07-24 15:13] aritra-tech commented on #211
Sure

[2022-07-24 15:19] aritra-tech commented on #210
It's already done @AnkitaKataria22

[2022-07-24 15:20] aritra-tech commented on #213
Sure

[2022-07-24 15:21] #188 closed

[2022-07-24 15:22] #201 closed

[2022-07-24 15:23] Rishikavishnoi commented on #213
ok

[2022-07-24 16:37] tanya-gupta25 opened #216 "Add Linkedlist problem in C++"
[Delete N nodes after M nodes of a linked list](https://practice.geeksforgeeks.org/problems/delete-n-nodes-after-m-nodes-of-a-linked-list/1)
[Delete the Middle Node of a Linked List](https://leetcode.com/problems/delete-the-middle-node-of-a-linked-list/)
[Remove loop in Linked List](https://practice.geeksforgeeks.org/problems/remove-loop-in-linked-list/1)

[2022-07-24 16:39] tanya-gupta25 commented on #216
I want to work on this issue under HSOC

[2022-07-24 16:45] #213 closed

[2022-07-24 16:47] aritra-tech commented on #216
Go for it

[2022-07-24 17:01] Rishikavishnoi opened #217 "Add more Stack Problems"

[2022-07-24 17:47] aritra-tech commented on #217
Do you mean Implementation?

[2022-07-24 17:47] aritra-tech commented on #217
@Rishikavishnoi

[2022-07-25 01:43] #210 closed

[2022-07-25 02:22] AnkitaKataria22 opened #219 "Number of Good Pairs in java [Leetcode]"
Given an array of integers nums, return the number of good pairs.

A pair (i, j) is called good if nums[i] == nums[j] and i < j.

[2022-07-25 06:09] CS50X-RGB opened #220 "Add more matrix basic problems"
1) Diagonal matrix
2)  Upper triangle
3) Lower triangle

[2022-07-25 06:12] CS50X-RGB opened #221 "Backtracking problem based on strings"
Print all permutation of a string

[2022-07-25 06:12] ZAPatil commented on #217
Can you please assign this issue to me.

[2022-07-25 06:22] Rishikavishnoi commented on #217
[Evaluation of Postfix Expression](https://practice.geeksforgeeks.org/problems/evaluation-of-postfix-expression1735/1)
[Reverse a string using Stack](https://practice.geeksforgeeks.org/problems/reverse-a-string-using-stack/1)

[2022-07-25 08:01] SumitKanth opened #223 "Hard Pattern Problems"
-> have two hard pattern problems to add in this repo for helping others.
-> I want to work on this issue under HSOC.

[2022-07-25 09:32] #211 closed

[2022-07-25 09:32] aritra-tech commented on #223
Can you give the question link @SumitKanth

[2022-07-25 09:33] aritra-tech commented on #220
Sure

[2022-07-25 14:05] tanya-gupta25 opened #224 "Add Subset Sum using recursion"
[Subset sum](https://practice.geeksforgeeks.org/problems/subset-sums2234/1)

[2022-07-25 14:05] tanya-gupta25 commented on #224
Want to work on this issue under HSOC

[2022-07-25 14:08] aritra-tech commented on #224
Sure

[2022-07-25 14:48] SumitKanth commented on #223
Don't have link, I have the pattern diagram

[2022-07-25 15:20] aritra-tech commented on #223
Ok

[2022-07-25 16:22] aritra-tech commented on #223
Make a package under the algorithm package and then add the questions @SumitKanth

[2022-07-25 16:27] Avik-creator opened #225 "Add 5 Hashmap Questions"
Want to add 5 Hashmap Questions.

[2022-07-25 16:27] Avik-creator commented on #225
@aritra-tech please assign me this

[2022-07-25 17:26] #224 closed

[2022-07-25 17:27] #156 closed

[2022-07-25 17:29] #157 closed

[2022-07-25 17:29] aritra-tech commented on #225
Can you please give the link of the questions @Avik-creator

[2022-07-25 18:09] Avik-creator commented on #225
https://www.geeksforgeeks.org/tag/java-hashmap/
@aritra-tech Please check.

[2022-07-25 18:09] Avik-creator commented on #225
I will comment you again on which questions I have selected.

[2022-07-25 18:32] aritra-tech commented on #225
Ok, but after seeing the questions I will give the label to this issue.

[2022-07-26 06:26] AnkitaKataria22 opened #231 "How Many Numbers Are Smaller Than the Current Number[Leetcode]"
https://leetcode.com/problems/how-many-numbers-are-smaller-than-the-current-number/
Given the array nums, for each nums[i] find out how many numbers in the array are smaller than it. That is, for each nums[i] you have to count the number of valid j's such that j != i and nums[j] < nums[i].

Return the answer in an array.

[2022-07-26 08:22] aritra-tech commented on #231
Put it into the Leetcode problems package under the array

[2022-07-26 08:23] #219 closed

[2022-07-26 10:27] Rishikavishnoi opened #233 "Add More Arrays Question"
[Two Sum](https://leetcode.com/problems/two-sum/)
[4-Sum](https://leetcode.com/problems/4sum/)

[2022-07-26 10:28] Rishikavishnoi commented on #233
@aritra-tech pls assign me

[2022-07-26 11:49] #217 closed

[2022-07-26 11:50] aritra-tech commented on #233
Go for it

[2022-07-26 12:04] surjyaneeh opened #234 "Distribute Coins in Binary Tree (java)"
[Link](https://leetcode.com/problems/distribute-coins-in-binary-tree/)

[2022-07-26 12:24] aritra-tech commented on #234
Sure

[2022-07-26 12:27] surjyaneeh opened #235 "Recover Binary Search Tree"
[Link](https://leetcode.com/problems/recover-binary-search-tree/)

[2022-07-26 13:30] #235 closed

[2022-07-26 13:59] #234 closed

[2022-07-26 14:55] Avik-creator commented on #225
Check if a number is a Pangram or not, Converting Binary To Octal number using HashMap in Java, Convert HashMap to LinkedList in Java, Convert ArrayList to HashMap in Java, Check if Particular Key Exists in Java HashMap. @aritra-tech These are the questions I have selected could you please see them.

[2022-07-26 15:04] aritra-tech commented on #225
Nice questions selected @Avik-creator
Go for it

[2022-07-26 16:51] MohammadKaif1 opened #240 "More Pattern Question"
Can I work on this issue?? @aritra-tech

[2022-07-26 16:53] #195 closed

[2022-07-26 16:54] #233 closed

[2022-07-26 16:55] binayshaw7777 commented on #137
I want to contribute @aritra-tech if you don't have any issue with that @GeekLord04 .

[2022-07-26 16:55] aritra-tech commented on #240
Can you send the question that you want to add?

[2022-07-26 16:55] aritra-tech commented on #137
Yeah sure @binayshaw7777

[2022-07-26 17:01] #225 closed

[2022-07-26 17:58] Rishikavishnoi opened #242 "Adding LinkedList Question"
[ReverseLinkedList](https://leetcode.com/problems/reverse-linked-list/)
[Middle of the Linked List](https://leetcode.com/problems/reverse-linked-list/)

[2022-07-26 18:02] aritra-tech commented on #242
In which language you will do @Rishikavishnoi ?
Because it is already done in C++.

[2022-07-26 20:01] #221 closed

[2022-07-26 20:04] Rishikavishnoi commented on #242
Java

[2022-07-26 20:04] Rishikavishnoi commented on #242
@aritra-tech

[2022-07-26 20:23] aritra-tech commented on #242
Ok ok go for it

[2022-07-27 13:03] #231 closed

[2022-07-27 20:24] aritra-tech commented on #194
Sorry, @binayshaw7777 the time is over.

[2022-07-27 20:25] GeekLord04 commented on #194
Can I contribute to this issue?

[2022-07-27 20:34] aritra-tech commented on #194
Yeah, sure

[2022-07-28 04:22] surjyaneeh opened #245 "Binary Tree Pruning"
[Link](https://leetcode.com/problems/binary-tree-pruning/)

[2022-07-28 05:18] Rakesh9100 opened #246 "Add String Leetcode Solutions in Java"
1. [Percentage of Letter in String](https://leetcode.com/problems/percentage-of-letter-in-string/)
2. [Remove Outermost Parentheses](https://leetcode.com/problems/remove-outermost-parentheses/)
3. [Remove Palindromic Subsequences](https://leetcode.com/problems/remove-palindromic-subsequences/)
4. [Add Binary](https://leetcode.com/problems/add-binary/)

[2022-07-28 08:54] #216 closed

[2022-07-28 12:12] #220 closed

[2022-07-28 14:02] #242 closed

[2022-07-28 17:53] Avik-creator opened #250 "Want to add basics of string."
I have observed that there no basics of string. It will be kind of documentation.

[2022-07-28 17:53] Avik-creator commented on #250
@aritra-tech Please check

[2022-07-28 17:57] tanya-gupta25 opened #251 "Add Backtracking Hard Problems"
[N-Queens II](https://leetcode.com/problems/n-queens-ii/)
[Sudoku Solver](https://leetcode.com/problems/sudoku-solver/)
using c++

[2022-07-28 17:58] tanya-gupta25 commented on #251
I want to work on this issue under HSOC

[2022-07-28 17:59] aritra-tech commented on #250
Yeah, sure

[2022-07-28 17:59] aritra-tech commented on #251
Sure

[2022-07-28 20:19] #246 closed

[2022-07-29 10:45] Rishikavishnoi opened #254 "Add Array Question"
[Merge Overlapping Subintervals](https://takeuforward.org/data-structure/merge-overlapping-sub-intervals/)
[Merge two sorted Arrays without extra space](https://takeuforward.org/data-structure/merge-two-sorted-arrays-without-extra-space/)
[Find the duplicate in an array of N+1 integers](https://takeuforward.org/data-structure/find-the-duplicate-in-an-array-of-n1-integers/).

[2022-07-29 13:05] aritra-tech commented on #254
@Rishikavishnoi second question is already done in the repo so if you want you can do another question of Array.

[2022-07-29 13:06] #245 closed

[2022-07-29 13:08] #250 closed

[2022-07-29 14:53] Rishikavishnoi commented on #254
@aritra-tech ok so I will add ques 1 and 3 only

[2022-07-29 14:55] aritra-tech commented on #254
Ok

[2022-07-29 22:06] coderSuren opened #256 "Add Binary Tree Problems"
I would like to add following traversal problems to [Data_Structure](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Data_Structure)/[Tree](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Data_Structure/Tree)/[Traversals](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Data_Structure/Tree/Traversals)/ Folder:

- [Vertical Orde

[2022-07-30 05:16] aritra-tech commented on #256
Sure @coderSuren go for it

[2022-07-30 06:35] Maruti54 commented on #240
Hollow diamond pattern using stars.

[2022-07-30 06:42] Maruti54 opened #257 "More Pattern Problems"
1. Hollow diamond pattern using stars in cpp.
2. Solid Diamond Pattern using stars in cpp.

@aritra-tech I would like to work on this.

[2022-07-30 08:35] aritra-tech commented on #257
Sure

[2022-07-30 08:36] #254 closed

[2022-07-30 11:48] CS50X-RGB opened #260 "Sparse Matrix Problems"
1)Creation & Display of Sparse Matrix in c++
2)Addition Of 2 Sparse Matrix

[2022-07-30 11:56] CS50X-RGB opened #261 "Some Leetcode String Problems"
<a href ="https://leetcode.com/problems/valid-palindrome/">1)Valid Palindrome</a>
<a href ="https://leetcode.com/problems/count-asterisks/">2)Count Asterisks</a>
<a href ="https://leetcode.com/problems/first-letter-to-appear-twice/">3)First Letter Appear Twice</a>

[2022-07-30 13:14] aritra-tech commented on #260
Sure

[2022-07-30 13:15] #257 closed

[2022-07-30 16:13] Avik-creator opened #262 "Want to add Basics of Arrays and Recursion"
I will create a readme which will contain the basics of Arrays and Recursion.

[2022-07-30 16:13] Avik-creator commented on #262
@aritra-tech Please assign me this.

[2022-07-30 16:29] aritra-tech commented on #262
Sure

[2022-07-30 18:14] Maruti54 opened #263 "Recursion based Problem"
Solving [Maximize Number of Nice Divisors](https://leetcode.com/problems/maximize-number-of-nice-divisors/) Leetcode (Hard) problem.

@aritra-tech I would like to work on this.

[2022-07-30 18:34] aritra-tech commented on #263
Sure

[2022-07-30 19:05] JOYPAUL2001 commented on #137
I want to work on this issue @aritra-tech

[2022-07-30 19:05] aritra-tech commented on #137
Yeah, sure

[2022-07-31 03:02] surjyaneeh opened #264 "Dynamic Programming Problems"
1. [Pascal's Triangle](https://leetcode.com/problems/pascals-triangle/)
2. [Russian Doll Envelopes](https://leetcode.com/problems/russian-doll-envelopes/)

[2022-07-31 05:40] aritra-tech commented on #264
Sure

[2022-07-31 05:42] #263 closed

[2022-07-31 05:54] Rakesh9100 opened #266 "Add Some Array Solutions"
1. [Container With Most Water](https://leetcode.com/problems/container-with-most-water/)
2. [Find the Duplicate Number](https://leetcode.com/problems/find-the-duplicate-number/)
3. [4Sum](https://leetcode.com/problems/4sum/)
4. [How Many Numbers Are Smaller Than the Current Number](https://leetcode.com/problems/how-many-numbers-are-smaller-than-the-current-number/)

[2022-07-31 06:49] aritra-tech commented on #266
In which language @Rakesh9100 ?

[2022-07-31 06:51] Rakesh9100 commented on #266
C++

[2022-07-31 07:09] aritra-tech commented on #266
Ok sure go for it.

[2022-07-31 09:48] Maruti54 opened #267 "Pattern Problems"
1. Printing the diagonal and sides of a Rhombus/Diamond
2. Printing Left and Right Arrows
3. Printing a solid and hollow Rhombus

@aritra-tech please assign me this issue.

[2022-07-31 11:20] aritra-tech commented on #267
Sure

[2022-07-31 13:33] #264 closed

[2022-07-31 13:34] #266 closed

[2022-07-31 17:24] #267 closed

[2022-07-31 19:36] Rakesh9100 opened #271 "Add Backtracking Questions in C++"
1. Letter Combinations of a Phone Number
2. Generate Parentheses
3. Combination Sum

[2022-07-31 19:40] Rakesh9100 opened #273 "Array Questions in C++"
1. Next Permutation
2. Number of Good Pairs
3. Two Sum Problem

[2022-07-31 19:44] tanya-gupta25 opened #274 "Add Linkedlist Problems in C++"
[Reverse Linked List II](https://leetcode.com/problems/reverse-linked-list-ii/)
[Intersection of Two Linked Lists](https://leetcode.com/problems/intersection-of-two-linked-lists/)
[Given a linked list of 0s, 1s and 2s, sort it](https://practice.geeksforgeeks.org/problems/given-a-linked-list-of-0s-1s-and-2s-sort-it/1)

[2022-07-31 20:32] #251 closed

[2022-08-01 02:03] Maruti54 opened #276 "Backtracking Problems"
1. The Knight’s tour problem in cpp.
2. Rat in a Maze problem in cpp.

[2022-08-01 03:54] aritra-tech commented on #276
Sure

[2022-08-01 03:56] #256 closed

[2022-08-01 11:00] #273 closed

[2022-08-01 11:00] #271 closed

[2022-08-01 12:22] Rishikavishnoi commented on #197
@aritra-tech can  I contribute to this issue?

[2022-08-01 13:36] Rakesh9100 opened #279 "Queue Questions in C++"
1. Design Circular Deque
2. Product of the Last K Numbers
3. Design Circular Queue
4. Maximum Sum Circular Subarray

[2022-08-01 14:01] aritra-tech commented on #197
Sure @Rishikavishnoi

[2022-08-01 14:05] Rishikavishnoi commented on #197
ok

[2022-08-01 14:11] Rakesh9100 commented on #279
Hey bro, 3 ques should have level 3 but if not then adding one more ques and total 4 ques should change the level to 3 I believe @aritra-tech

[2022-08-01 14:25] Rakesh9100 opened #280 "String Leetcode Ques in C++"
1. Roman to Integer
2. Word Break
3. Largest Number
4. Integer to Roman

[2022-08-01 14:49] Rishikavishnoi commented on #197
@aritra-tech In which folder I have to add solution of these ques.

[2022-08-01 14:51] aritra-tech commented on #279
Sorry @Rakesh9100 yes it should be level 3

[2022-08-01 14:53] aritra-tech commented on #280
Sure

[2022-08-01 20:07] #260 closed

[2022-08-01 21:30] aritra-tech commented on #197
Put it into the Arrays folder @Rishikavishnoi

[2022-08-02 05:17] CS50X-RGB commented on #261
@arita-tech actually there is some problem here
i made a pr yesterday which files for this issue to what should i do now

[2022-08-02 05:19] CS50X-RGB commented on #261
<a href = "https://github.com/aritra-tech/Data-Structure-Algorithm/pull/281/commits/4f0a220f17f47b7aba575d4549a7480d6b2d5134">Here it is</a>

[2022-08-02 12:13] Avik-creator opened #282 "Want to Add LeetCode Sorting Questions"
It Will have the following Questions:

* [2344. Minimum Deletions to Make Array Divisible](https://leetcode.com/problems/minimum-deletions-to-make-array-divisible)
* [2273. Find Resultant Array After Removing Ana](https://leetcode.com/problems/find-resultant-array-after-removing-anagrams)
* [2332. The Latest Time to Catch a Bus](https://leetcode.com/problems/the-latest-time-to-catch-a-bus)
* [2333

[2022-08-02 12:13] Avik-creator commented on #282
@aritra-tech Please assign me this.

[2022-08-02 12:43] aritra-tech commented on #261
Don't need to worry so, copy the codes that you have done and delete them and then create a pr for this issue.
Hope you understand @CS50X-RGB

[2022-08-02 12:43] aritra-tech commented on #282
Sure @Avik-creator

[2022-08-02 12:45] CS50X-RGB commented on #261
Ohh ok ☺

[2022-08-02 15:51] surjyaneeh opened #283 "Reducing Dishes (DP)"
[Reducing Dishes](https://leetcode.com/problems/reducing-dishes/)

[2022-08-02 16:37] MohammadKaif1 opened #285 "Introduction to Array"
Hey @aritra-tech Can I add introduction on array from scratch.
Because this repo is on DSA and I am wondering that one who follows this repo for learning DSA will definitely have to start from basic and there is no basics of Array.
 So, that's why I want to work on this issue.

[2022-08-02 17:15] aritra-tech commented on #285
Yeah, sure.
You have also one issue left @MohammadKaif1 issue no #240

[2022-08-02 17:50] Rakesh9100 commented on #137
Can I be assigned since 3 days over for previous assignee ?

[2022-08-02 18:24] Rakesh9100 opened #289 "Dynamic Programming Questions in C++"
1. Longest Palindromic Substring
2. Generate Parentheses
3. Unique Paths
4. Minimum Path Sum

[2022-08-02 18:28] Rakesh9100 opened #290 "Add Linked List Questions in C++"
1. Swap Nodes in Pairs
2. Rotate List
3. Linked List Cycle
4. Reorder List

[2022-08-02 20:29] #274 closed

[2022-08-02 20:30] #262 closed

[2022-08-02 20:31] #280 closed

[2022-08-02 20:31] #279 closed

[2022-08-02 20:34] aritra-tech commented on #290
Sure

[2022-08-02 20:35] aritra-tech commented on #289
Sure

[2022-08-02 20:37] aritra-tech commented on #137
His health is not good, so he told me that he will complete his work within 1 or 2 days.

[2022-08-03 02:16] Rakesh9100 commented on #137
Oh okay no issues.

[2022-08-03 03:45] surjyaneeh opened #292 "Add Leetcode String Problems"
[1.](https://leetcode.com/problems/jewels-and-stones/)
[2.](https://leetcode.com/problems/defanging-an-ip-address/)
[3.](https://leetcode.com/problems/word-ladder)

[2022-08-03 04:50] aritra-tech commented on #292
Sure

[2022-08-03 04:51] #283 closed

[2022-08-03 05:56] MohammadKaif1 commented on #285
Questions that I wanted to add in issue no. #240  are same as I wants to add.

[2022-08-03 07:09] aritra-tech commented on #285
Ok, so I am closing that issue @MohammadKaif1

[2022-08-03 07:11] #290 closed

[2022-08-03 07:12] #289 closed

[2022-08-03 08:47] #285 closed

[2022-08-03 13:45] tanya-gupta25 opened #298 "Add Array Problems"
[Subarray Sum Equals K](https://leetcode.com/problems/subarray-sum-equals-k/)
[Subarray Sums Divisible by K](https://leetcode.com/problems/subarray-sums-divisible-by-k/)
[Find All Duplicates in an Array](https://leetcode.com/problems/find-all-duplicates-in-an-array/)
[Chocolate Distribution Problem](https://practice.geeksforgeeks.org/problems/chocolate-distribution-problem3825/1)
using c++

[2022-08-03 14:26] Rakesh9100 opened #299 "Matrix Ques in CPP"
1. Valid Sudoku
2. Diagonal Traverse
3. Flood Fill

[2022-08-03 14:30] Rakesh9100 opened #300 "Stack Ques in CPP"
1. Remove Duplicate Letters
2. Maximum Binary Tree
3. Minimum Add to Make Parentheses Valid

[2022-08-03 14:42] Rakesh9100 opened #301 "Add Recursion Leetcode Ques in C++"
1. Fibonacci Number
2. Reverse String
3. Power of Three
4. Power of Four

[2022-08-03 14:53] aritra-tech commented on #299
Sure

[2022-08-03 14:54] aritra-tech commented on #300
Sure

[2022-08-03 14:56] aritra-tech commented on #301
@Rakesh9100 question no 3 is already done.
Choose any other question and send the link.

[2022-08-03 14:57] #261 closed

[2022-08-03 14:58] #292 closed

[2022-08-03 15:08] Rakesh9100 commented on #301
Done

[2022-08-03 15:14] aritra-tech commented on #301
Nice

[2022-08-03 15:29] surjyaneeh opened #303 "Add Leetcode String Problems"
[1.](https://leetcode.com/problems/shuffle-string/)
[2.](https://leetcode.com/problems/count-items-matching-a-rule/)

[2022-08-03 17:33] #197 closed

[2022-08-03 17:34] aritra-tech commented on #303
Links are not opening @surjyaneeh

[2022-08-03 17:38] surjyaneeh commented on #303
Is it okay now...I have corrected them.

[2022-08-03 18:37] #240 closed

[2022-08-03 20:48] #301 closed

[2022-08-03 20:49] #300 closed

[2022-08-03 20:51] #299 closed

[2022-08-04 02:40] surjyaneeh opened #308 "Add Leetcode String Problems"
[link](https://leetcode.com/problems/truncate-sentence/)
[link](https://leetcode.com/problems/goal-parser-interpretation)

[2022-08-04 03:47] surjyaneeh opened #309 "Add Binary Tree LeetCode Problems"
1. https://leetcode.com/problems/univalued-binary-tree/
2. https://leetcode.com/problems/binary-tree-cameras

[2022-08-04 05:44] #303 closed

[2022-08-04 07:16] Rakesh9100 opened #311 "Add BitManipulation Ques in CPP"
1. [Divide Two Integers](https://leetcode.com/problems/divide-two-integers/)
2. [Subsets](https://leetcode.com/problems/subsets/)
3. [Maximum Product of Word Lengths](https://leetcode.com/problems/maximum-product-of-word-lengths/)

[2022-08-04 07:19] Rakesh9100 opened #312 "Graph Leetcode Questions in C++"
1. [Clone Graph](https://leetcode.com/problems/clone-graph/)
2. [Course Schedule](https://leetcode.com/problems/course-schedule/)
3. [Course Schedule II](https://leetcode.com/problems/course-schedule-ii/)

[2022-08-04 07:22] Rakesh9100 opened #313 "Tree Ques in CPP"
1. [Binary Tree Level Order Traversal](https://leetcode.com/problems/binary-tree-level-order-traversal/)
2. [Unique Binary Search Trees](https://leetcode.com/problems/unique-binary-search-trees/)
3. [Unique Binary Search Trees II](https://leetcode.com/problems/unique-binary-search-trees-ii/)

[2022-08-04 10:40] Rishikavishnoi opened #314 "Adding Recursion Ques."
[Print all permutations of a string/array](https://takeuforward.org/data-structure/print-all-permutations-of-a-string-array/)
[M coloring Problem](https://takeuforward.org/data-structure/m-coloring-problem/)

[2022-08-04 15:38] surjyaneeh opened #315 "Total Hamming Distance (CPP)"
[Link](https://leetcode.com/problems/total-hamming-distance/)

[2022-08-04 15:55] aritra-tech commented on #311
Sure

[2022-08-04 15:55] aritra-tech commented on #312
Sure

[2022-08-04 15:56] aritra-tech commented on #313
Sure

[2022-08-04 15:58] aritra-tech commented on #314
@Rishikavishnoi you are doing the problems it's good but the links which you have given, there already exists the code in C++ and Java. You solve but don't just copy the code try to understand and if you face any problem tell me I will help you out.

[2022-08-04 15:59] #308 closed

[2022-08-04 17:49] #309 closed

[2022-08-05 05:48] Avik-creator opened #320 "Add LeetCode Stack Questions"
[20. Valid Parentheses](https://leetcode.com/problems/valid-parentheses)
[94. Binary Tree Inorder Traversal](https://leetcode.com/problems/binary-tree-inorder-traversal)
[224. Basic Calculator](https://leetcode.com/problems/basic-calculator)
[114. Flatten Binary Tree to Linked List](https://leetcode.com/problems/flatten-binary-tree-to-linked-list)

[2022-08-05 05:48] Avik-creator commented on #320
@aritra-tech Please assign me this

[2022-08-05 05:50] Avik-creator opened #321 "Add Linked List LeetCode Questions"
[21. Merge Two Sorted Lists](https://leetcode.com/problems/merge-two-sorted-lists)
[25. Reverse Nodes in k-Group](https://leetcode.com/problems/reverse-nodes-in-k-group)
[61. Rotate List](https://leetcode.com/problems/rotate-list)
[92. Reverse Linked List II](https://leetcode.com/problems/reverse-linked-list-ii)

[2022-08-05 05:50] Avik-creator commented on #321
@aritra-tech Please assign me this

[2022-08-05 05:52] Avik-creator opened #322 "Want to Add Recursion Questions of LeetCode"
[390. Elimination Game](https://leetcode.com/problems/elimination-game)
[1808. Maximize Number of Nice Divisors](https://leetcode.com/problems/maximize-number-of-nice-divisors)
[231. Power of Two](https://leetcode.com/problems/power-of-two)
[50. Pow(x, n)](https://leetcode.com/problems/powx-n)

[2022-08-05 05:53] Avik-creator commented on #322
@aritra-tech Please assign me this

[2022-08-05 06:50] aritra-tech commented on #322
Question no 1808 is done in C++ if you want to do it in java you can.

[2022-08-05 06:51] aritra-tech commented on #322
@Avik-creator

[2022-08-05 06:54] aritra-tech commented on #321
No 92 is done in C++ and No 21 is done in java, No 61 is done in C++ and Reverse Nodes in k-group are also done.
So try to solve those questions in java or c++
@Avik-creator

[2022-08-05 06:55] aritra-tech commented on #320
Sure

[2022-08-05 06:55] Avik-creator commented on #322
@aritra-tech ok I will do all of them in Java

[2022-08-05 06:55] #313 closed

[2022-08-05 06:59] #312 closed

[2022-08-05 07:02] #311 closed

[2022-08-05 07:21] aritra-tech commented on #322
First check which are done in java or c++ if it is done in java write the c++ code and vice versa

[2022-08-05 09:21] Rishikavishnoi commented on #314
hey! @aritra-tech I always solve the question and then upload it in these repositories to contribute, not just copy or best ...so now as these question already exists, you can close the issue . I'll create some new issues.

[2022-08-05 12:05] #315 closed

[2022-08-05 12:07] #320 closed

[2022-08-05 12:07] #282 closed

[2022-08-05 13:56] aritra-tech commented on #314
Ok

[2022-08-05 13:56] #314 closed

[2022-08-05 20:48] aritra-tech opened #328 "Array Questions in Java"
1. [Pascal's Triangle](https://leetcode.com/problems/pascals-triangle/)
2. [Next Permutation](https://leetcode.com/problems/next-permutation/)
3. [Maximum Subarray](https://leetcode.com/problems/maximum-subarray/)

Add your code [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Striver_SDE_Sheet) under the **Arrays** section.

**Important:**
- Create a package for each

[2022-08-05 20:54] aritra-tech opened #329 "Add Array Questions in Java"
1. [Sort Colors](https://leetcode.com/problems/sort-colors/)
2. [Best Time to Buy and Sell Stock](https://leetcode.com/problems/best-time-to-buy-and-sell-stock/)

Add your code [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Striver_SDE_Sheet) under the Arrays section.

**Important:**

- Create a package for each question
- And create a README file for each question,

[2022-08-05 20:59] aritra-tech opened #330 "Add Linked List question of Striver SDE Sheet in Java"
1. [Middle of the Linked List](https://leetcode.com/problems/middle-of-the-linked-list/)
2. [Merge Two Sorted Lists](https://leetcode.com/problems/merge-two-sorted-lists/)
3. [Delete Node in a Linked List](https://leetcode.com/problems/delete-node-in-a-linked-list/)

Add your [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Striver_SDE_Sheet) under the **Linked List**

[2022-08-05 21:01] aritra-tech opened #331 "Linked List Questions of Striver SDE Sheet"
1. [Remove Nth Node From End of List](https://leetcode.com/problems/remove-nth-node-from-end-of-list/)
2. [Add Two Numbers](https://leetcode.com/problems/add-two-numbers/)

Add your [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Striver_SDE_Sheet) under the Linked List package

**Important:**

- Create a package for each question
- And create a README file for each

[2022-08-05 21:30] JOYPAUL2001 commented on #331
I want to work on this issue @aritra-tech

[2022-08-05 21:32] aritra-tech commented on #331
Sure

[2022-08-06 06:06] Avik-creator commented on #321
@aritra-tech So I could solve all of them in java for questions done in C++ and in C++ for questions done in Java right?

[2022-08-06 06:32] Rishikavishnoi commented on #330
I want to do these plz assign me

[2022-08-06 06:33] Rakesh9100 commented on #328
Kindly assign this @aritra-tech

[2022-08-06 06:33] Rakesh9100 commented on #330
Pls assign this to me @aritra-tech

[2022-08-06 06:34] Rakesh9100 commented on #329
Pls assign this to me @aritra-tech

[2022-08-06 06:37] aritra-tech commented on #330
Sure

[2022-08-06 06:37] aritra-tech commented on #329
Sure

[2022-08-06 06:37] aritra-tech commented on #328
Sure

[2022-08-06 09:05] aritra-tech opened #332 "String Questions of Striver's SDE Sheet in C++"
1. [Reverse Words in a String](https://leetcode.com/problems/reverse-words-in-a-string/)
2. [Roman to Integer](https://leetcode.com/problems/roman-to-integer/)
3. [Longest Common Prefix](https://leetcode.com/problems/longest-common-prefix/)

Add your [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Striver_SDE_Sheet) under the **Strings** package

**Important:**

- Cr

[2022-08-06 09:19] aritra-tech opened #333 "Add String Questions in Java"
1. [String to Integer](https://leetcode.com/problems/string-to-integer-atoi/)
2. [Repeated String Match](https://leetcode.com/problems/repeated-string-match/)

Add your [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Striver_SDE_Sheet) under the **String** package

**Important**:

Create a package for each question
And create a README file for each question, which wi

[2022-08-06 11:21] Avik-creator commented on #333
@aritra-tech i want to work on this

[2022-08-06 11:43] aritra-tech commented on #333
You are already assigned with 2 issues @Avik-creator.
Let others also participate.
Hope you get it @Avik-creator , if there is no comments within  days I will assign you.

[2022-08-06 11:44] Avik-creator commented on #333
@aritra-tech no worries

[2022-08-06 19:15] Rishikavishnoi commented on #333
@aritra-tech I want to work in these issue as now I have no other issue to work . so pls assign me

[2022-08-06 19:37] aritra-tech commented on #333
Sure @Rishikavishnoi

[2022-08-06 19:58] #137 closed

[2022-08-07 14:18] #330 closed

[2022-08-07 14:23] #276 closed

[2022-08-07 18:24] deepshikha2708 opened #340 "Readme for Sorting Techniques"
Want to add readme file for sorting techniques whose codes have already been given

[2022-08-07 18:25] deepshikha2708 commented on #340
@aritra-tech will you please assign me this issue?

[2022-08-07 18:29] deepshikha2708 opened #341 "Adding leetcode problems on searching"

[2022-08-07 18:29] deepshikha2708 commented on #341
@aritra-tech will you assign me this issue?

[2022-08-07 19:30] aritra-tech commented on #340
Yeah, sure

[2022-08-07 19:30] aritra-tech commented on #341
Which questions?

[2022-08-07 19:31] #298 closed

[2022-08-07 19:55] #194 closed

[2022-08-08 04:52] tanya-gupta25 opened #343 "Add Linkedlist Problems in C++"
[Convert Binary Number in a Linked List to Integer](https://leetcode.com/problems/convert-binary-number-in-a-linked-list-to-integer/)
[Remove Linked List Elements](https://leetcode.com/problems/remove-linked-list-elements/)
[Multiply two numbers represented by Linked Lists](https://practice.geeksforgeeks.org/problems/multiply-two-linked-lists/1)
[Delete without head pointer](https://practice.geeks

[2022-08-08 08:50] aritra-tech commented on #343
Sure

[2022-08-08 09:02] tanya-gupta25 commented on #343
Hey @aritra-tech adding 1 more problem will make it level-3?

[2022-08-08 12:17] aritra-tech commented on #343
No no these are all easy and simple questions so level 2 is fine

[2022-08-08 18:51] #321 closed

[2022-08-08 18:52] #322 closed

[2022-08-09 07:21] Maruti54 opened #346 "Backtracking Problems in C++"
1. m Coloring Problem
2. Hamiltonian Cycle
3. Solving Cryptarithmetic Puzzles

[2022-08-09 07:22] Maruti54 commented on #346
@aritra-tech please assign me this issue.

[2022-08-09 13:32] aritra-tech commented on #346
Sure

[2022-08-09 14:08] Maruti54 opened #348 "Pattern Problems in cpp"
1. Butterfly Pattern
2. Hollow Diamond Inscribed in a Rectangle
3. Diagonal & Sides of a Rectangle

[2022-08-09 14:08] Maruti54 opened #349 "Pattern Problems in cpp"
1. Butterfly Pattern
2. Hollow Diamond Inscribed in a Rectangle
3. Diagonal & Sides of a Rectangle

[2022-08-09 14:09] Maruti54 commented on #349
@aritra-tech please assign me this issue

[2022-08-09 14:09] #348 closed

[2022-08-09 15:03] aritra-tech commented on #349
Sure

[2022-08-09 17:12] #333 closed

[2022-08-09 17:17] #346 closed

[2022-08-09 18:09] Maruti54 opened #352 "Add Searching Algorithms in C++"
1. Jump Search
2. Interpolation Search
3. Exponential Search

[2022-08-09 18:09] Maruti54 commented on #352
@aritra-tech please assign me this issue.

[2022-08-09 20:03] aritra-tech commented on #352
Yeah, sure

[2022-08-09 20:14] #349 closed

[2022-08-09 20:27] Rishikavishnoi opened #353 "Add more Array Questions in java"
[Majority Element (>N/2 times)](https://leetcode.com/problems/majority-element/)
[Majority Element (>N/3 times)](https://leetcode.com/problems/majority-element-ii/)
[Grid Unique Path](https://leetcode.com/problems/unique-paths/)

[2022-08-09 20:27] Rishikavishnoi commented on #353
@aritra-tech assign me

[2022-08-09 21:34] aritra-tech commented on #353
Add your [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Striver_SDE_Sheet) under the Arrays package @Rishikavishnoi

**Important:**

- Create a package for each question
- And create a README file for each question, which will consist of the problem link, and time complexity and you have to write the approach towards the solution (both brute force and optimal one)

[2022-08-10 05:06] tanya-gupta25 commented on #332
I would like to work on this issue!

[2022-08-10 05:07] aritra-tech commented on #332
Yeah, sure @tanya-gupta25

[2022-08-10 11:29] Maruti54 opened #356 "Graph Algorithms in C++"
1. Dijkstra’s shortest path algorithm
2. Floyd Warshall Algorithm
3. Prim’s Minimum Spanning Tree (MST)
4. Kruskal’s Minimum Spanning Tree Algorithm

[2022-08-10 11:30] Maruti54 commented on #356
@aritra-tech please assign me this issue.

[2022-08-10 12:39] aritra-tech commented on #356
Add it [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Data_Structure/Graph) under the Graph Algorithm package and make a package for every algorithm.
@Maruti54

[2022-08-10 12:40] #352 closed

[2022-08-10 12:50] #343 closed

[2022-08-10 13:48] Maruti54 opened #358 "Add Searching Algorithms in C++"
1. Sublist Search (Search a linked list in another list)
2. Fibonacci Search
3. The Ubiquitous Binary Search
4. Recursive program to linearly search an element in a given array

[2022-08-10 13:48] Maruti54 commented on #358
@aritra-tech please assign me this issue

[2022-08-10 14:20] aritra-tech commented on #358
Sure, but @Maruti54 please make a package for every question or algorithm you do, so that other users can find them easily and it looks organized.
Hope you understand @Maruti54 .

[2022-08-10 14:56] Maruti54 commented on #358
Yeah I will

[2022-08-10 14:58] Maruti54 commented on #358
Please make it Level 3

[2022-08-10 17:39] #356 closed

[2022-08-10 18:54] Rakesh9100 opened #361 "Linked List Questions of Striver SDE Sheet in C++"
1. [Reverse Nodes in k-Group](https://leetcode.com/problems/reverse-nodes-in-k-group/)
2. [Intersection of Two Linked Lists](https://leetcode.com/problems/intersection-of-two-linked-lists/)
3. [Linked List Cycle II](https://leetcode.com/problems/linked-list-cycle-ii/)

[2022-08-10 19:21] Rakesh9100 opened #362 "Add String Questions of Striver's SDE Sheet in C++"
1. [Compare Version Numbers](https://leetcode.com/problems/compare-version-numbers/)
2. [Count and Say](https://leetcode.com/problems/count-and-say/)
3. [Valid Anagram](https://leetcode.com/problems/valid-anagram/)

[2022-08-10 20:20] #329 closed

[2022-08-10 20:30] #328 closed

[2022-08-10 20:37] aritra-tech commented on #362
Can you also do it in Java @Rakesh9100?
I am not forcing you I am just asking if you can do it or not.

[2022-08-10 21:07] aritra-tech opened #363 "Add String Questions in C++"
- [String to Integer](https://leetcode.com/problems/string-to-integer-atoi/)  and add your code [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Striver_SDE_Sheet/Strings/StringToInteger)
- [Repeated String Match](https://leetcode.com/problems/repeated-string-match/)  and add your code [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Stri

[2022-08-10 21:09] aritra-tech opened #364 "Add Linked List question of Striver SDE Sheet in C++"
- [Middle of the Linked List](https://leetcode.com/problems/middle-of-the-linked-list/) and add your code [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Striver_SDE_Sheet/Linked_List/MiddleOfLinkedList)
- [Merge Two Sorted Lists](https://leetcode.com/problems/merge-two-sorted-lists/) and add your code [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tr

[2022-08-10 21:15] Rakesh9100 commented on #361
Okay will open a new issue after doing in C++. Not to worry. @aritra-tech

[2022-08-10 21:17] Rakesh9100 commented on #362
Can I ask why do you want in Java and not in C++ most time ? Just asking 😅 @aritra-tech

[2022-08-10 21:17] Rakesh9100 commented on #361
Okay will open a new issue after doing in C++. Not to worry. @aritra-tech

[2022-08-10 21:18] Rakesh9100 commented on #361
Okay will open a new issue after doing in C++. Not to worry. @aritra-tech

[2022-08-11 04:53] aritra-tech commented on #362
I just told to do it in both languages.
You continue with C++. @Rakesh9100

[2022-08-11 04:54] aritra-tech commented on #361
Leave it I will do the Java programs. No need to worry

[2022-08-11 13:14] #362 closed

[2022-08-11 13:21] #361 closed

[2022-08-11 15:25] Rakesh9100 commented on #363
Kindly assign @aritra-tech

[2022-08-11 15:26] Rakesh9100 commented on #364
Assign this issue to me @aritra-tech

[2022-08-11 19:08] Rakesh9100 opened #369 "Linked List Questions of Striver's SDE Sheet in Java"
1. [Reverse Nodes in k-Group](https://leetcode.com/problems/reverse-nodes-in-k-group/)
2. [Intersection of Two Linked Lists](https://leetcode.com/problems/intersection-of-two-linked-lists/)
3. [Linked List Cycle II](https://leetcode.com/problems/linked-list-cycle-ii/)

[2022-08-11 19:08] Rakesh9100 commented on #369
Kindly assign now will add in Java @aritra-tech

[2022-08-11 19:11] Rakesh9100 opened #370 "String Questions of Striver's SDE Sheet in Java"
1. [Compare Version Numbers](https://leetcode.com/problems/compare-version-numbers/)
2. [Count and Say](https://leetcode.com/problems/count-and-say/)
3. [Valid Anagram](https://leetcode.com/problems/valid-anagram/)

[2022-08-11 19:11] Rakesh9100 commented on #370
Kindly assign to add in Java @aritra-tech

[2022-08-11 19:54] #364 closed

[2022-08-11 19:54] #363 closed

[2022-08-11 19:58] aritra-tech commented on #370
Yeah, sure but the next time try to solve the questions in both languages (Java as well as C++).
@Rakesh9100

[2022-08-11 20:18] Rakesh9100 commented on #369
Kindly change the level to 3 since there are 3 ques with hard one included. @aritra-tech

[2022-08-11 20:19] Rakesh9100 commented on #370
Okay will do for sure, but level should be changed to 3 pls . @aritra-tech

[2022-08-12 04:57] aritra-tech commented on #370
Level 2 is fine because you have already done it in Java so you know the intuition behind the problem so level 2 is fine.

[2022-08-12 12:01] Rakesh9100 commented on #370
Okay 👍

[2022-08-13 03:57] AnkitaKataria22 opened #371 "Add Advanced Pattern Question in Java"
1.Hollow Rectangle
2.Floyd's Triangle Pattern
3.Butterfly Pattern

[2022-08-13 03:57] AnkitaKataria22 commented on #371
Assign it to me

[2022-08-13 05:56] aritra-tech commented on #371
Sure

[2022-08-13 17:53] #370 closed

[2022-08-13 17:53] #369 closed

[2022-08-13 19:04] Rakesh9100 commented on #369
Bro it should be level 3 if a hard ques is included. @aritra-tech

[2022-08-14 16:13] Rakesh9100 commented on #332
Can I be assigned @aritra-tech

[2022-08-14 16:14] tanya-gupta25 commented on #332
Hey @Rakesh9100 I'm working on this issue

[2022-08-14 16:19] Rakesh9100 opened #375 "Add Queue Question in Java"
1. [Design Circular Deque](https://leetcode.com/problems/design-circular-deque/)
2. [Maximum Sum Circular Subarray](https://leetcode.com/problems/maximum-sum-circular-subarray/)
3. [Find the Winner of the Circular Game](https://leetcode.com/problems/find-the-winner-of-the-circular-game/)

[2022-08-14 17:10] Rakesh9100 commented on #332
Okay 👍

[2022-08-14 17:34] aritra-tech commented on #375
Sure

[2022-08-14 19:30] #340 closed

[2022-08-15 14:42] tanya-gupta25 opened #377 "Add Dynamic Programming Questions"
[House Robber](https://leetcode.com/problems/house-robber/)
[House Robber II](https://leetcode.com/problems/house-robber-ii/)
[Frog Jump](https://www.codingninjas.com/codestudio/problems/frog-jump_3621012)

Will add solutions of all these ques in C++

- Approaches to be added - Recursion, Memoization, Tabulation, Space Optimization
- Will add time & space complexity for each approach

[2022-08-15 19:54] #353 closed

[2022-08-15 19:54] #375 closed

[2022-08-15 19:55] aritra-tech commented on #377
Sure

[2022-08-16 15:19] Rakesh9100 opened #379 "Add Stack Questions in Java"
1. [Maximum Binary Tree](https://leetcode.com/problems/maximum-binary-tree/)
2. [Minimum Add to Make Parentheses Valid](https://leetcode.com/problems/minimum-add-to-make-parentheses-valid/)
3. [Remove Duplicate Letters](https://leetcode.com/problems/remove-duplicate-letters/)

[2022-08-16 15:21] Rakesh9100 opened #380 "Dynamic Programming(DP) Questions in CPP"
1. [Best Time to Buy and Sell Stock](https://leetcode.com/problems/best-time-to-buy-and-sell-stock/)
2. [Best Time to Buy and Sell Stock II](https://leetcode.com/problems/best-time-to-buy-and-sell-stock-ii/)
3. [Climbing Stairs](https://leetcode.com/problems/climbing-stairs/)
4. [Longest Common Subsequence](https://leetcode.com/problems/longest-common-subsequence/)

[2022-08-16 19:05] deepshikha2708 commented on #341
![image](https://user-images.githubusercontent.com/80972038/184961475-f8ad758b-a95c-46d5-8c49-0dad6373daa7.png)
 this question?

[2022-08-16 20:34] aritra-tech commented on #380
Sure

[2022-08-16 20:56] Rakesh9100 commented on #379
Kindly assign this @aritra-tech

[2022-08-16 21:26] aritra-tech commented on #379
Sure

[2022-08-16 21:59] aritra-tech commented on #341
Yeah sure

[2022-08-17 07:18] #380 closed

[2022-08-17 07:19] #379 closed

[2022-08-17 19:40] CS50X-RGB opened #383 "Add more Matrix Problems"
1) <a href = "https://leetcode.com/problems/the-k-weakest-rows-in-a-matrix/">The k-weakest rows in a matrix</a>
2) <a href = "https://leetcode.com/problems/search-a-2d-matrix/">Search in 2d matrix</a>
3) <a href = "https://leetcode.com/problems/word-search/description/">Word Search</a>

[2022-08-17 19:45] CS50X-RGB commented on #383
@aritra-tech can i get assigned??

[2022-08-17 20:02] aritra-tech commented on #383
Yeah, sure but @CS50X-RGB try to do questions from other topics also there are more important topics than Matrix.

[2022-08-17 20:10] CS50X-RGB commented on #383
Actually I have learned till matrix and linked list so i am trying to practice question and put issue here will try for next topic for sure

[2022-08-17 20:16] aritra-tech commented on #383
Oo ok then,sorry I didn't knew that

[2022-08-17 20:16] aritra-tech commented on #383
Keep practicing @CS50X-RGB

[2022-08-18 03:57] CS50X-RGB commented on #383
No problem ☺

[2022-08-18 10:28] Rishikavishnoi opened #384 "Add more Linked list ques. (SDE Sheet)"
[Find the starting point of the Loop of LinkedList](https://leetcode.com/problems/linked-list-cycle-ii/)
[Flattening of a LinkedList](https://practice.geeksforgeeks.org/problems/flattening-a-linked-list/1)
[Find intersection point of Y LinkedList](https://leetcode.com/problems/intersection-of-two-linked-lists/)
[Check if a LinkedList is palindrome or not.](https://leetcode.com/problems/palindrome-

[2022-08-18 10:29] Rishikavishnoi commented on #384
@aritra-tech assign it to me

[2022-08-18 13:58] aritra-tech commented on #384
Sure @Rishikavishnoi

[2022-08-18 18:19] Rakesh9100 commented on #331
Can I work on this ? @aritra-tech

[2022-08-19 08:47] #331 closed

[2022-08-19 08:50] #358 closed

[2022-08-19 11:07] Maruti54 opened #387 "Graph Algorithms in C++"
1. Topological Sort
2. Johnson's algorithm
3. Hierholzer’s Algorithm
4. Bridges in a graph

[2022-08-19 11:07] Maruti54 commented on #387
@aritra-tech  please assign me this issue.

[2022-08-19 12:10] aritra-tech commented on #387
Yeah, sure but also explain the intuition behind the code for the begginers.
Hope you understand @Maruti54

[2022-08-19 15:15] Rakesh9100 opened #388 "Add Array Questions in Java"
1. [Maximum Profit in Job Scheduling](https://leetcode.com/problems/maximum-profit-in-job-scheduling/)
2. [Find All Duplicates in an Array](https://leetcode.com/problems/find-all-duplicates-in-an-array/)
3. [Flipping an Image](https://leetcode.com/problems/flipping-an-image/)

[2022-08-19 15:22] Rakesh9100 opened #389 "Recursion Questions in CPP"
1. [Pow(x, n)](https://leetcode.com/problems/powx-n/)
2. [Elimination Game](https://leetcode.com/problems/elimination-game/)
3. [Power of Two](https://leetcode.com/problems/power-of-two/)
4. [Swap Nodes in Pairs](https://leetcode.com/problems/swap-nodes-in-pairs/)

[2022-08-19 17:01] Maruti54 commented on #387
Yeah, I will try to explain.

[2022-08-19 17:46] #377 closed

[2022-08-19 17:57] #387 closed

[2022-08-19 18:04] aritra-tech commented on #389
[Maximize Number of Nice Divisors](https://leetcode.com/problems/maximize-number-of-nice-divisors/) is already done in CPP

[2022-08-19 18:06] aritra-tech commented on #388
Sure

[2022-08-19 18:30] Rakesh9100 commented on #389
Changed and also added one more question @aritra-tech

[2022-08-19 18:31] Rakesh9100 commented on #388
Please change to Level 3 since hard question will be done @aritra-tech

[2022-08-19 20:20] aritra-tech commented on #389
Ok , continue

[2022-08-19 20:22] #383 closed

[2022-08-20 03:22] tanya-gupta25 opened #393 "Add Graph Problems"
[Max Area of Island](https://leetcode.com/problems/max-area-of-island/)
[ Is Graph Bipartite?](https://leetcode.com/problems/is-graph-bipartite/)
[Flood Fill](https://leetcode.com/problems/flood-fill/)

- will add all these graph problems using c++

[2022-08-20 05:15] aritra-tech commented on #388
[Find All Duplicates in an Array](https://leetcode.com/problems/find-all-duplicates-in-an-array/)
[Flipping an Image](https://leetcode.com/problems/flipping-an-image/)

These two questions are elementary that's why I gave it to level 2 and points don't matter keep practicing so that your problem-solving skills become good.

[2022-08-20 05:16] aritra-tech commented on #393
Sure

[2022-08-20 05:20] tanya-gupta25 commented on #393
Shall I add one more medium level ques to make it level-3?

[2022-08-20 06:40] aritra-tech commented on #393
Don't run for points, you are practicing for your betterment in DSA. Points don't matter, solving questions matters the most.
And it will be a level 2 issue only I will not change it.

[2022-08-20 07:38] tanya-gupta25 commented on #393
Cool!

[2022-08-20 10:13] Rakesh9100 commented on #388
Yes practicing is in one's own hand, and it should be consistent, but we all know that open source event competition is going on, so points should also be focused till this program remains. Hope you understand @aritra-tech

[2022-08-20 12:42] #341 closed

[2022-08-20 12:58] aritra-tech opened #395 "Add Stack and Queue Questions of Striver's SDE Sheet"
- [Implement a Queue](https://www.codingninjas.com/codestudio/problems/2099908?topList=striver-sde-sheet-problems&utm_source=striver&utm_medium=website)
- [Implement Stack using Queue](https://leetcode.com/problems/implement-stack-using-queues/)

Add your [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Striver_SDE_Sheet) under the Stack and Queue  package

**Language

[2022-08-20 13:01] aritra-tech opened #396 "Add Stack and Queue Questions of Striver's SDE Sheet"
- [Valid Parentheses](https://leetcode.com/problems/valid-parentheses/)
- [Next Greater Element I](https://leetcode.com/problems/next-greater-element-i/)
- [Sort a Stack](https://www.codingninjas.com/codestudio/problems/sort-a-stack_985275?topList=striver-sde-sheet-problems&utm_source=striver&utm_medium=website)

Add your [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/s

[2022-08-20 13:03] aritra-tech opened #397 "Add Stack and Queue Questions of Striver's SDE Sheet"
- [LRU Cache](https://leetcode.com/problems/lru-cache/)
- [LFU Cache](https://leetcode.com/problems/lfu-cache/)

Add your [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Striver_SDE_Sheet) under the Stack and Queue package

**Language : Java & C++**

Important:

- Create a package for each question
- And create a README file for each question, which will consist of t

[2022-08-20 13:12] afreenabegum commented on #397
Assign it to me !! @aritra-tech

[2022-08-20 13:12] afreenabegum commented on #396
Assign it to me !! @aritra-tech

[2022-08-20 13:45] aritra-tech commented on #397
Sure

[2022-08-20 13:46] aritra-tech commented on #396
Sure

[2022-08-20 16:14] deepshikha2708 commented on #395
please assign it to me

[2022-08-20 16:18] aritra-tech commented on #395
Sure

[2022-08-20 19:26] #388 closed

[2022-08-20 20:41] #393 closed

[2022-08-20 20:53] #389 closed

[2022-08-21 07:10] Rakesh9100 opened #401 "Backtracking Questions in Java"
1. [Combination Sum](https://leetcode.com/problems/combination-sum/)
2. [Generate Parentheses](https://leetcode.com/problems/generate-parentheses/)
3. [N-Queens](https://leetcode.com/problems/n-queens/)

[2022-08-21 08:52] aritra-tech commented on #401
Sure

[2022-08-21 11:19] #401 closed

[2022-08-21 11:27] aritra-tech opened #403 "Linked List Questions of Striver's SDE Sheet in Java & C++"
- [Linked List Cycle](https://leetcode.com/problems/linked-list-cycle/)
- [Palindrome Linked List](https://leetcode.com/problems/palindrome-linked-list/)
- [Flattening a Linked List](https://practice.geeksforgeeks.org/problems/flattening-a-linked-list/1)

Add your [here](https://github.com/aritra-tech/Data-Structure-Algorithm/tree/master/src/Striver_SDE_Sheet) under the Linked List package

**Impo

[2022-08-21 11:31] aritra-tech opened #404 "String Questions of Striver SDE Sheet in Java & C++"
- [Z Algorithm](https://www.codingninjas.com/codestudio/problems/1112619?topList=striver-sde-sheet-problems&utm_source=striver&utm_medium=website)
- [Find Pattern in String - KMP Algorithm](https://www.codingninjas.com/codestudio/problems/1112621?topList=striver-sde-sheet-problems&utm_source=striver&utm_medium=website)
- [Minimum Characters For Palindrome](https://www.codingninjas.com/codestudio/p

[2022-08-21 13:55] tanya-gupta25 opened #405 "Add Linkedlist Problems"
[Flattening a Linked List](https://practice.geeksforgeeks.org/problems/flattening-a-linked-list/1)
[Merge Sort for Linked List](https://practice.geeksforgeeks.org/problems/sort-a-linked-list/1)
[Palindrome Linked List](https://leetcode.com/problems/palindrome-linked-list/)
[Odd Even Linked List](https://leetcode.com/problems/odd-even-linked-list/)

- will add these questions in c++

[2022-08-21 15:28] aritra-tech commented on #405
Yeah, sure

[2022-08-21 16:58] Rakesh9100 commented on #403
Assign me @aritra-tech

[2022-08-21 17:25] aritra-tech commented on #403
Sure

[2022-08-22 17:27] afreenabegum commented on #396
Do we need to write code both in Java and C++ ?

[2022-08-22 19:14] aritra-tech commented on #396
Yeah

[2022-08-22 20:06] #332 closed

[2022-08-22 20:08] #403 closed

[2022-08-23 08:23] Rishikavishnoi commented on #404
@aritra-tech assign it to me

[2022-08-23 09:53] aritra-tech commented on #404
Sure

[2022-08-23 15:04] #384 closed

[2022-08-23 17:35] Rakesh9100 opened #409 "BitManipulation Ques in Java"
1. [Complement of Base 10 Integer](https://leetcode.com/problems/complement-of-base-10-integer/)
2. [Divide Two Integers](https://leetcode.com/problems/divide-two-integers/)
3. [Maximum Product of Word Lengths](https://leetcode.com/problems/maximum-product-of-word-lengths/)
4. [Number of 1 Bits](https://leetcode.com/problems/number-of-1-bits/)

[2022-08-23 17:39] Rakesh9100 opened #410 "Stack Questions in C++"
1. [Basic Calculator](https://leetcode.com/problems/basic-calculator/)
2. [Add Two Numbers II](https://leetcode.com/problems/add-two-numbers-ii/)
3. [Reorder List](https://leetcode.com/problems/reorder-list/)

[2022-08-23 20:26] aritra-tech commented on #410
Sure

[2022-08-24 09:54] deepshikha2708 opened #411 "leetcode problem on linked list"
@aritra-tech will u assign me this issue

[2022-08-24 09:57] deepshikha2708 commented on #411
![image](https://user-images.githubusercontent.com/80972038/186389599-5db71696-6ef0-4ff8-8fa1-cb19a8863b0f.png)

[2022-08-24 12:09] aritra-tech commented on #411
Yeah , sure

[2022-08-24 20:38] #411 closed

[2022-08-25 02:41] afreenabegum commented on #396
@aritra-tech , Sorry for inconvenience, am unable to complete tasks because of my end semester exams. So unassigning myself.
Thanks.

[2022-08-25 02:42] afreenabegum commented on #397
@aritra-tech , Sorry for inconvenience, am unable to complete tasks because of my end semester exams. So unassigning myself.
Thanks.

[2022-08-25 04:54] aritra-tech commented on #397
Ok ok no problem.
All the best for your semester end exam @afreenabegum

[2022-08-25 10:04] deepshikha2708 opened #413 "Binary String Duplication Problem"
![image](https://user-images.githubusercontent.com/80972038/186636896-04a0e953-d82c-47d5-8a07-b9cc5031b5f0.png)

[2022-08-25 10:05] deepshikha2708 commented on #413
@aritra-tech can you assign me this issue?

[2022-08-25 11:01] aritra-tech commented on #413
sure

[2022-08-25 17:43] #410 closed

[2022-08-25 18:35] #409 closed

[2022-08-26 08:34] deepshikha2708 commented on #413
in which folder should i put this question exactly?

[2022-08-26 11:20] aritra-tech commented on #413
Under the data structure folder, there is a folder named BitManipulation

[2022-08-26 18:16] #413 closed

[2022-08-26 23:57] coderSuren commented on #396
@aritra-tech I would like to work on this issue. Please assign it to me.

[2022-08-27 05:04] aritra-tech commented on #396
Yeah, sure

[2022-08-27 21:15] Rakesh9100 commented on #397
Would work on this @aritra-tech

[2022-08-27 21:54] aritra-tech commented on #397
yeah sure

[2022-08-29 05:52] CS50X-RGB opened #418 "Some Matrix & String Questions"
<A HREF = "https://leetcode.com/problems/implement-strstr/">1) Implement strStr()</a>
<A HREF = "https://leetcode.com/problems/convert-1d-array-into-2d-array/">2)  1D array to 2D array</a>
<a href = "https://leetcode.com/problems/determine-whether-matrix-can-be-obtained-by-rotation/"> 3) Determine matrix can be obtained by rotation or not</a>
<a href = "https://leetcode.com/problems/available-capt

[2022-08-29 05:54] Rakesh9100 commented on #395
Can I be assigned and work on this ? @aritra-tech

[2022-08-29 05:54] CS50X-RGB commented on #418
@aritra-tech can i get this issue assigned plz

[2022-08-29 05:55] Rakesh9100 commented on #405
Can I be assigned and work on this ? @aritra-tech

[2022-08-29 06:17] tanya-gupta25 commented on #405
@Rakesh9100  Hey sorry but I'm working on this PR

[2022-08-29 07:17] Rakesh9100 commented on #405
Okay no issues. It's been 9 days so I asked.

[2022-08-29 10:36] deepshikha2708 opened #419 "Infix to Postfix"
![image](https://user-images.githubusercontent.com/80972038/187182644-6b4460c6-0f6b-484b-901d-2ca2e70767e8.png)

[2022-08-29 10:36] deepshikha2708 commented on #419
@aritra-tech can u assign me this issue?

[2022-08-29 15:06] aritra-tech commented on #419
sure

[2022-08-29 15:07] aritra-tech commented on #418
Sure @CS50X-RGB

[2022-08-29 15:09] #397 closed

[2022-08-29 16:05] deepshikha2708 opened #421 "Disintegrate a Doubly Linked List"
![image](https://user-images.githubusercontent.com/80972038/187244736-58abb13b-9f6e-4884-bd8d-8309f043827d.png)

[2022-08-29 16:05] deepshikha2708 commented on #421
can I do this too please @aritra-tech ?

[2022-08-29 16:17] aritra-tech commented on #421
Yeah, you can

[2022-08-29 16:17] #419 closed

[2022-08-29 17:08] #421 closed

[2022-08-29 21:00] Rakesh9100 opened #424 "Add Array Questions in CPP"
1. [3Sum](https://leetcode.com/problems/3sum/)
2. [Set Matrix Zeroes](https://leetcode.com/problems/set-matrix-zeroes/)
3. [Rotate Image](https://leetcode.com/problems/rotate-image/)
4. [Product of Array Except Self](https://leetcode.com/problems/product-of-array-except-self/)

[2022-08-29 21:08] Rakesh9100 opened #425 "Recursion Problems in Java"
1. [Add Two Numbers](https://leetcode.com/problems/add-two-numbers/)
2. [Combination Sum](https://leetcode.com/problems/combination-sum/)
3. [Decode String](https://leetcode.com/problems/decode-string/)
4. [Palindrome Partitioning](https://leetcode.com/problems/palindrome-partitioning/)

[2022-08-30 04:42] #395 closed

[2022-08-30 04:59] #404 closed

[2022-08-30 08:27] Rishikavishnoi opened #427 "Add Stack and queue Question from Striver SDE sheet"
[Largest rectangle in a histogram](https://leetcode.com/problems/largest-rectangle-in-histogram/)
[Sliding Window Maximum](https://leetcode.com/problems/sliding-window-maximum/)
[Implement Min Stack](https://leetcode.com/problems/min-stack/)

[2022-08-30 08:29] Rishikavishnoi commented on #427
All problems are categorized as hard problems of leetcode.
I'll Solve in java
@aritra-tech kindly assign it to me

[2022-08-30 08:30] aritra-tech commented on #427
Yeah sure

[2022-08-30 17:55] deepshikha2708 opened #430 "Backtracking Question"
![image](https://user-images.githubusercontent.com/80972038/187508988-9312ed94-dba8-4454-a565-73e9c792a96a.png)

[2022-08-30 17:56] deepshikha2708 commented on #430
@aritra-tech can u assign me this isse?

[2022-08-30 20:25] #425 closed

[2022-08-30 20:28] #424 closed

[2022-08-30 20:28] aritra-tech commented on #430
sure

[2022-08-31 06:04] #427 closed

[2022-08-31 14:21] #418 closed

[2022-08-31 17:22] #430 closed

[2022-08-31 17:24] #405 closed

[2022-08-31 18:25] #396 closed

[2022-10-03 10:08] #371 closed